<template>
  <LayoutApplications>
    <Preloader v-bind:show="preloader"></Preloader>
    <div class="profile-page">
      <div class="container">
        <div class="heading">
          <h2>Profile</h2>
        </div>
        <div class="content">
          <div class="form">
            <div class="title">
              <h2>About You</h2>
              <span class="edit" v-on:click="onEditSettings" v-if="!editing"><i class="fal fa-pencil"></i>Edit</span>
            </div>
            <form id="profile">
              <div class="avatar" v-on:click="openModalAvatar">
                <img v-bind:src="form.user.avatar ? form.user.avatar : '/images/edit-profile-page/avatar.svg'" ref="avatar" alt="avatar" />
                <i class="fas fa-camera"></i>
              </div>
              <div class="field">
                <div class="row">
                  <div class="col-md-auto col-fixed-200px">
                    <label for="name">Name</label>
                  </div>
                  <div class="col">
                    <div class="input" v-if="editing">
                      <input
                        type="text"
                        id="name"
                        placeholder="Name"
                        v-model.trim="form.user.name"
                        v-bind:class="{
                          'is-valid': $v.form.user.name.$error,
                        }"
                      />
                      <div v-if="$v.form.user.name.$error" class="is-valid-text">
                        <span v-if="!$v.form.user.name.required">Name is required</span>
                      </div>
                    </div>
                    <div class="value" v-bind:class="{ 'add-value': !form.user.name }" v-if="!editing">{{ form.user.name ? form.user.name : "Add Name" }}</div>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="row">
                  <div class="col-md-auto col-fixed-200px">
                    <label for="founded">I founded</label>
                  </div>
                  <div class="col">
                    <div class="input" v-if="editing">
                      <input type="text" id="founded" placeholder="Company" v-model.trim="form.user.profile.founded" />
                    </div>
                    <div class="value" v-bind:class="{ 'add-value': !form.user.profile.founded }" v-if="!editing">
                      <span>{{ form.user.profile.founded ? form.user.profile.founded : "Add worked" }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="row">
                  <div class="col-md-auto col-fixed-200px">
                    <label for="mini-resume">Mini-resume:</label>
                  </div>
                  <div class="col">
                    <div class="textarea">
                      <textarea v-if="editing" id="mini-resume" type="text" placeholder="Tell us about yourself" v-model.trim="form.user.profile.mini_resume"></textarea>
                    </div>
                    <div v-if="!editing" v-bind:class="{ 'add-value': !form.user.profile.mini_resume }" class="value">{{ form.user.profile.mini_resume ? form.user.profile.mini_resume : "Add mini resume" }}</div>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="row">
                  <div class="col-md-auto col-fixed-200px">
                    <label for="linkedin">LinkedIn</label>
                  </div>
                  <div class="col">
                    <div class="input" v-if="editing">
                      <input id="linkedin" type="text" placeholder="https://" v-model.trim="form.user.profile.linkedin" />
                      <div v-if="$v.form.user.profile.linkedin.$error" class="is-valid-text">
                        <span v-if="!$v.form.user.profile.linkedin.url">Url is invalid</span>
                      </div>
                    </div>
                    <div class="value" v-bind:class="{ 'add-value': !form.user.profile.linkedin }" v-if="!editing">{{ form.user.profile.linkedin ? form.user.profile.linkedin : "Add linkedin" }}</div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="row">
                  <div class="col-md-auto col-fixed-200px">
                    <label for="worked-at">I worked at</label>
                  </div>
                  <div class="col">
                    <div class="input" v-if="editing">
                      <input type="text" id="worked-at" placeholder="Company" v-model.trim="form.user.profile.worked_at" />
                    </div>
                    <div class="value" v-bind:class="{ 'add-value': !form.user.profile.worked_at }" v-if="!editing">{{ form.user.profile.worked_at ? form.user.profile.worked_at : "Add Field" }}</div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="row">
                  <div class="col-md-auto col-fixed-200px">
                    <label for="worked-at">I studed at</label>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-lg-12 col-xl-6">
                        <div class="input" v-if="editing">
                          <input type="text" id="studed-at" placeholder="College" v-model.trim="form.user.profile.study_at" />
                        </div>
                        <div class="value" v-bind:class="{ 'add-value': !form.user.profile.study_at }" v-if="!editing">{{ form.user.profile.study_at ? form.user.profile.study_at : "Add Field" }}</div>
                      </div>
                      <div class="col-lg-12 col-xl-3">
                        <div class="select" v-if="editing">
                          <div class="vue-select">
                            <treeselect id="start-year-of-study" v-model="form.user.profile.study_begin" v-bind:clearable="false" v-bind:options="studyBeginOptions" placeholder="Start Year" v-on:select="onSelectBeginYear" />
                          </div>
                        </div>
                        <div class="value" v-bind:class="{ 'add-value': !form.user.profile.study_begin }" v-if="!editing">{{ form.user.profile.study_begin ? form.user.profile.study_begin : "Add start year" }}</div>
                      </div>
                      <div class="col-lg-12 col-xl-3">
                        <div class="select" v-if="editing">
                          <div class="vue-select">
                            <treeselect id="end-year-of-study" v-model="form.user.profile.study_end" v-bind:clearable="false" v-bind:options="studyEndOptions" placeholder="End Year" v-on:select="onSelectEndYear" />
                          </div>
                        </div>
                        <div class="value" v-bind:class="{ 'add-value': !form.user.profile.study_end }" v-if="!editing">{{ form.user.profile.study_end ? form.user.profile.study_end : "Add end year" }}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-xl-6">
                        <div class="select" v-if="editing">
                          <div class="vue-select">
                            <treeselect id="degree-type" v-model="form.user.profile.study_degree" v-bind:clearable="false" v-bind:options="degreeTypeOptions" placeholder="Degree Type" />
                          </div>
                        </div>
                        <div class="value" v-bind:class="{ 'add-value': !form.user.profile.study_degree }" v-if="!editing">{{ form.user.profile.study_degree ? form.user.profile.study_degree : "Add degree type" }}</div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                        <div class="select" v-if="editing">
                          <div class="vue-select">
                            <treeselect id="field-of-study" v-model="form.user.profile.study_field" :clearable="false" :options="studyFieldOptions" placeholder="Field of study" />
                          </div>
                        </div>
                        <div class="value" v-bind:class="{ 'add-value': !form.user.profile.study_field }" v-if="!editing">{{ form.user.profile.study_field ? form.user.profile.study_field : "Add field study" }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="navigation" v-if="editing">
          <button type="buttom" class="btn-transparent" v-on:click="onCancelSettings">Cancel</button>
          <button type="submit" class="btn-blue" v-on:click="onSubmitProfile">Save</button>
        </div>
      </div>
      <Modal v-bind:isShowModal="isShowModalAvatar" v-on:isCloseModal="isCloseModalAvatar" width="400" title="Select Profile Photo">
        <div class="modal-profile-photo">
          <div class="drag-and-drop">
            <vue-avatar
              v-bind:borderRadius="200"
              v-bind:style="{ 'border-radius': '50%' }"
              v-bind:scale="scale"
              ref="vueavatar"
              accept=".jpg, .jpeg, .png , .svg, .gif"
              placeholderSvg='<svg aria-hidden="true" width="50px" focusable="false" data-prefix="fas" data-icon="camera" class="svg-inline--fa fa-camera fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" fill-opacity="0.5" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"></path></svg>'
              v-on:vue-avatar-editor:image-ready="onImageReady"
            >
            </vue-avatar>
          </div>
          <div class="range">
            <label>Zoom : {{ scale }}x</label>
            <input type="range" min="1" max="3" step="0.02" v-model.number="scale" />
          </div>
          <div class="nav flex-column" v-if="!imageReady">
            <label>Drag files to upload, or</label>
            <button type="button" class="btn-blue" v-on:click="$refs.vueavatar.$refs.input.click()">CHOOSE FILE</button>
          </div>
          <div class="nav" v-if="imageReady">
            <button type="button" class="btn-transparent" v-on:click="resetAvatar">RESET</button>
            <button type="button" class="btn-blue" v-on:click="uploadAvatar">UPLOAD</button>
          </div>
        </div>
      </Modal>
    </div>
  </LayoutApplications>
</template>
<script>
import Preloader from "../../../components/Common/Preloader";
import Treeselect from "@riophae/vue-treeselect";
import { serialize } from "object-to-formdata";
import LayoutApplications from "../../../layout/LayoutApplications";
import Modal from "../../../components/Common/Modal";
import { required, email, minLength, maxLengt, numeric, url } from "vuelidate/lib/validators";
import { VueAvatar } from "vue-avatar-editor-improved";
export default {
  data() {
    return {
      preloader: true,
      editing: false,
      errors: [],
      isShowModalAvatar: false,
      scale: 1,
      imageReady: false,
      canvas: null,
      startYearBegin: 1980,
      startYearEnd: 1980,
      degreeTypeOptions: [
        {
          id: "Type1",
          label: "Type1",
        },
        {
          id: "Type2",
          label: "Type2",
        },
        {
          id: "Type3",
          label: "Type3",
        },
      ],
      studyFieldOptions: [
        {
          id: "Field1",
          label: "Field1",
        },
        {
          id: "Field2",
          label: "Field2",
        },
        {
          id: "Field3",
          label: "Field3",
        },
      ],
      form: {
        user: {
          avatar: null,
          media: null,
          name: null,
          email: null,
          completedOn: null,
          profile: {
            study_at: null,
            study_begin: null,
            study_end: null,
            study_degree: null,
            study_field: null,
            worked_at: null,
            founded: null,
            mini_resume: null,
            linkedin: null,
          },
        },
      },
    };
  },
  validations: {
    form: {
      user: {
        name: {
          required,
        },
        profile: {
          linkedin: {
            required,
            url,
          },
        },
      },
    },
  },
  computed: {
    userId: function () {
      return this.$store.getters.getUserInfo.userid;
    },
    userType: function () {
      return this.$store.getters.getUserInfo.type;
    },
    studyBeginOptions() {
      const currentYear = new Date().getFullYear();
      var years = [];
      var startYear = this.startYearBegin;
      for (var i = startYear; i <= currentYear; i++) {
        years.push({
          id: startYear.toString(),
          label: startYear.toString(),
        });
        startYear++;
      }
      return years;
    },
    studyEndOptions() {
      const currentYear = new Date().getFullYear();
      var years = [];
      var startYear = this.startYearEnd;
      for (var i = startYear; i <= currentYear; i++) {
        years.push({
          id: startYear.toString(),
          label: startYear.toString(),
        });
        startYear++;
      }
      return years;
    },
  },
  components: {
    LayoutApplications,
    Modal,
    VueAvatar,
    Treeselect,
    Preloader,
  },
  created() {
    this.getProfile();
  },
  methods: {
    onEditSettings() {
      this.editing = true;
    },
    onCancelSettings() {
      this.$v.form.$reset();
      this.editing = false;
    },
    onSubmitProfile() {
      this.$v.form.user.$touch();
      if (this.$v.form.user.$invalid) {
        return;
      } else {
        const formData = serialize(this.form.user);
        this.$store
          .dispatch("CREATEPROFILE", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((response) => {
            this.editing = false;
          })
          .catch((error) => {
            this.errors = error.response.data;
          });
      }
    },
    onSelectBeginYear(option) {
      if (option.id > this.form.user.profile.study_end) {
        this.form.user.profile.study_end = option.id;
      }
    },
    onSelectEndYear(option) {
      if (option.id < this.form.user.profile.study_begin) {
        this.form.user.profile.study_begin = option.id;
      }
    },
    resetAvatar() {
      this.$refs.vueavatar.resetImage();
      this.$refs.vueavatar.$refs.input.value = null;
      this.imageReady = false;
    },
    uploadAvatar() {
      var imageScaled = this.$refs.vueavatar.getImageScaled();
      this.$refs.avatar.src = imageScaled.toDataURL();
      var image = imageScaled.toDataURL("image/jpeg");
      var file = this.dataURLtoFile(image, "avatar");
      this.form.user.media = file;
      this.isShowModalAvatar = false;
      this.editing = true;
    },
    dataURLtoFile(dataurl, filename) {
      var arr = dataurl.split(","),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n);
      while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
      }
      return new File([u8arr], filename + "." + mime.replace("image/", ""), { type: mime });
    },
    onImageReady() {
      this.scale = 1;
      this.imageReady = true;
      this.$refs.vueavatar.$refs.input.value = null;
    },
    openModalAvatar() {
      this.isShowModalAvatar = true;
    },
    isCloseModalAvatar() {
      this.isShowModalAvatar = false;
    },
    getProfile() {
      this.$store
        .dispatch("GETROFILE")
        .then((response) => {
          if (response.status == 200) {
            Object.assign(this.form.user, response.data);
            this.preloader = false;
          }
        })
        .catch((error) => {
          this.errors = error.response.data;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.profile-page {
  .heading {
    font-size: 22px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      padding: 30px;
    }
    h2 {
      margin: 0px;
      @media (max-width: 991px) {
        font-size: 22px;
      }
      @media (max-width: 576px) {
        font-size: 18px;
      }
    }
  }

  .content {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 70px 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    @media (max-width: 767px) {
      border-radius: 0px;
      padding: 30px;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      height: 36px;

      h2 {
        margin: 0px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11;
        color: #242424;
      }
      .edit {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.3px;
        color: #618cfa;
        cursor: pointer;
        i {
          border-radius: 50%;
          padding: 10px;
          background-color: #618cfa;
          color: #ffffff;
          margin-right: 5px;
        }
      }
    }
    .form {
      position: relative;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 767px) {
        border-radius: 0px;
      }

      .form-group {
        display: flex;

        @media (max-width: 479px) {
          flex-direction: column;
        }

        .input {
          &:first-child {
            margin-right: 15px;
          }
        }
      }
      .status {
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
        color: #ffffff;
        border-radius: 5px;
        background-color: red;
        padding: 15px;
      }

      .avatar {
        position: relative;
        display: inline-block;
        margin-bottom: 40px;
        cursor: pointer;
        img {
          border: 3px solid #618cfa;
          width: 120px;
          box-shadow: 0 2px 22px 0 rgba(32, 49, 94, 0.13);
          border-radius: 50%;
        }
        i {
          bottom: 0px;
          right: 0px;
          position: absolute;
          border-radius: 50%;
          box-shadow: 0 2px 22px 0 rgba(32, 49, 94, 0.13);
          background-color: #618cfa;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          width: 40px;
          height: 40px;
          font-size: 20px;
        }
      }
      .field {
        padding: 30px;
        border-radius: 10px;
        background-color: #f2f5f7;
        margin-bottom: 20px;
        .row {
          align-items: center;
          &:nth-child(2) {
            margin-top: 30px;

            @media (max-width: 1199px) {
              margin-top: 0px;
            }
          }
        }

        .col-fixed-200px {
          flex: 0 0 200px;
          @media (max-width: 767px) {
            flex: 0 0 auto;
          }
        }

        .input {
          position: relative;
          label {
            cursor: pointer;
            font-size: 16px;
          }

          input {
            display: block;
            width: 100%;
            height: 44px;
            border-radius: 5px;
            border: 1px solid #dddddd;
            background-color: #ffffff;
            padding: 10px;
            font-size: 16px;
            outline: none;
            font-weight: 700;
            @media (max-width: 767px) {
              margin-top: 10px;
            }

            &::placeholder {
              font-weight: 400;
              color: #dddddd;
            }
          }
          .is-valid {
            border-color: #ff0000 !important;
          }
          .is-valid-text {
            font-size: 14px;
            color: red;
            margin-top: 5px;
            position: absolute;
          }
        }

        .select {
          position: relative;
          label {
            font-size: 16px;
          }
          .vue-select {
            @media (max-width: 767px) {
              margin-top: 10px;
            }
          }
          .is-valid {
            border-color: #ff0000 !important;
          }
          .is-valid-text {
            font-size: 14px;
            color: red;
            margin-top: 5px;
            position: absolute;
          }
        }
        .textarea {
          position: relative;
          label {
            cursor: pointer;
            font-size: 16px;
          }
          textarea {
            display: block;
            width: 100%;
            height: 160px;
            border-radius: 5px;
            border: solid 1px #dddddd;
            background-color: #ffffff;
            padding: 10px;
            font-size: 16px;
            outline: none;
            font-weight: 700;
            @media (max-width: 767px) {
              margin-top: 10px;
            }

            &::placeholder {
              font-weight: 400;
              color: #dddddd;
            }
          }
          .is-valid {
            border-color: #ff0000 !important;
          }
          .is-valid-text {
            font-size: 14px;
            color: red;
            margin-top: 5px;
            position: absolute;
          }
        }
        .checkbox {
          display: flex;
          align-items: center;
          label {
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            padding-left: 10px;
          }
          input[type="checkbox"] {
            width: 28px;
            height: 28px;
            border-radius: 5px;
            border: solid 1px #dddddd;
            background-color: #ffffff;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            &:checked:before {
              font-family: "Font Awesome 5 Pro";
              font-weight: bold;
              color: rgba(0, 0, 0, 0.7);
              content: "\f00c";
              font-size: 15px;
              width: 28px;
              height: 28px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .value {
          padding: 10px;
          font-weight: 700;
          border-radius: 5px;
          word-break: break-word;
          @media (max-width: 1199px) {
            margin-top: 10px;
          }
        }
        .add-value {
          color: #999999;
        }
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0px;
    font-size: 0px;
    @media (max-width: 767px) {
      justify-content: center;
      padding: 30px;
    }
    .btn-transparent {
      margin-right: 20px;
    }
    .btn-blue {
      width: 100%;
      max-width: 236px;
    }
  }
  .modal-profile-photo {
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding: 30px;
    position: relative;
    .drag-and-drop {
      position: relative;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 10px;
      padding-top: 100%;
      cursor: pointer;
      i {
        font-size: 30px;
        color: #979797;
      }
    }

    .range {
      max-width: 260px;
      margin: 0px auto;
      margin-bottom: 20px;

      label {
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #000000;
        display: inline-block;
        margin-bottom: 10px;
      }
      input[type="range"] {
        width: 100%;
      }
    }

    label {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #000000;
      margin-bottom: 20px;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 0px;
      @media (max-width: 767px) {
        justify-content: center;
        padding: 30px;
      }
      .btn-transparent {
        margin-right: 20px;
      }
      .btn-blue {
        width: 100%;
        max-width: 236px;
      }
    }
  }
}
</style>
