<template>
  <LayoutApplications>
    <Preloader v-bind:show="preloader"></Preloader>
    <div class="change-your-password-page">
      <div class="container">
        <div class="heading">
          <h2>Settings</h2>
          <router-link class="back" to="/settings">Back</router-link>
        </div>
        <div class="content">
          <div class="form">
            <div class="title">
              <h2>Change your password</h2>
            </div>
            <form id="change-your-password-page" v-on:submit.prevent="onSubmitChangeYourPassword">
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="name">Old Password</label>
                  </div>
                  <div class="col-md-9">
                    <input
                      type="text"
                      id="name"
                      placeholder="Old Password"
                      v-model.trim="form.passwordChange.old_password"
                      v-bind:class="{
                        'is-valid': $v.form.passwordChange.old_password.$error,
                      }"
                    />
                    <div v-if="$v.form.passwordChange.old_password.$error" class="is-valid-text">
                      <span v-if="!$v.form.passwordChange.old_password.required">Old Password is required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="name">Password</label>
                  </div>
                  <div class="col-md-9">
                    <input
                      type="text"
                      id="name"
                      placeholder="Password"
                      v-model.trim="form.passwordChange.password"
                      v-bind:class="{
                        'is-valid': $v.form.passwordChange.password.$error,
                      }"
                    />
                    <div v-if="$v.form.passwordChange.password.$error" class="is-valid-text">
                      <span v-if="!$v.form.passwordChange.password.required">Password is required</span>
                      <span v-if="!$v.form.passwordChange.password.minLength"
                        >Password must be at least
                        {{ $v.form.passwordChange.password.$params.minLength.min }}
                        characters</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="name">Confirm Password</label>
                  </div>
                  <div class="col-md-9">
                    <input
                      type="text"
                      id="name"
                      placeholder="Current Password"
                      v-model.trim="form.passwordChange.password_confirmation"
                      v-bind:class="{
                        'is-valid': $v.form.passwordChange.password_confirmation.$error,
                      }"
                    />
                    <div v-if="$v.form.passwordChange.password_confirmation.$error" class="is-valid-text">
                      <span v-if="!$v.form.passwordChange.password_confirmation.sameAsPassword">Passwords must be identical</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="submit">
          <input type="submit" value="Save" form="change-your-password-page" />
        </div>
      </div>
    </div>
  </LayoutApplications>
</template>
<script>
import Preloader from "../../../../components/Common/Preloader";
import Treeselect from "@riophae/vue-treeselect";
import { serialize } from "object-to-formdata";
import LayoutApplications from "../../../../layout/LayoutApplications";
import Modal from "../../../../components/Common/Modal";
import { required, email, minLength, maxLengt, numeric, url, sameAs } from "vuelidate/lib/validators";
import { VueAvatar } from "vue-avatar-editor-improved";
export default {
  data() {
    return {
      preloader: true,
      errors: [],
      form: {
        passwordChange: {
          old_password: null,
          password: null,
          confirm_password: null,
        },
      },
    };
  },
  validations: {
    form: {
      passwordChange: {
        old_password: {
          required,
        },
        password: {
          required,
          minLength: minLength(6),
        },
        password_confirmation: {
          sameAsPassword: sameAs("password"),
        },
      },
    },
  },
  components: {
    LayoutApplications,
    Modal,
    VueAvatar,
    Treeselect,
    Preloader,
  },
  created() {
    this.preloader = false;
  },
  methods: {
    onSubmitChangeYourPassword() {
      this.$v.form.passwordChange.$touch();
      if (this.$v.form.passwordChange.$invalid) {
        return;
      } else {
        const formData = serialize(this.form.passwordChange);
        this.$store
          .dispatch("PASSWORDCHANGE", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((response) => {
            if (response.status == 200) {
              console.log(response);
            }
          })
          .catch((error) => {
            this.errors = error.response.data;
          });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.change-your-password-page {
  .heading {
    font-size: 22px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      padding: 30px;
    }
    h2 {
      margin: 0px;
      @media (max-width: 991px) {
        font-size: 22px;
      }
      @media (max-width: 576px) {
        font-size: 18px;
      }
    }
    .back {
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.11;
      color: #618cfa;
    }
  }
  .content {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 70px 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    @media (max-width: 767px) {
      border-radius: 0px;
      padding: 30px;
    }

    .title {
      h2 {
        margin: 0px;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11;
        color: #242424;
      }
    }

    .form {
      max-width: 800px;
      position: relative;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 767px) {
        border-radius: 0px;
        padding: 30px;
      }

      .form-group {
        display: flex;

        @media (max-width: 479px) {
          flex-direction: column;
        }

        .input {
          &:first-child {
            margin-right: 15px;
          }
        }
      }
      .status {
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
        color: #ffffff;
        border-radius: 5px;
        background-color: red;
        padding: 15px;
      }
      .is-valid {
        border-color: #ff0000 !important;
      }
      .is-valid-text {
        font-size: 14px;
        color: red;
        margin-top: 5px;
        position: absolute;
      }

      .avatar {
        position: relative;
        display: inline-block;
        cursor: pointer;
        img {
          border: 4px solid #618cfa;
          width: 120px;
          box-shadow: 0 2px 22px 0 rgba(32, 49, 94, 0.13);
          border-radius: 50%;
        }
        i {
          bottom: 0px;
          right: 0px;
          position: absolute;
          border-radius: 50%;
          box-shadow: 0 2px 22px 0 rgba(32, 49, 94, 0.13);
          background-color: #618cfa;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          width: 40px;
          height: 40px;
          font-size: 20px;
        }
      }
      .input {
        padding-bottom: 30px;
        label {
          cursor: pointer;
          font-size: 16px;
        }
        input {
          display: block;
          width: 100%;
          height: 44px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          outline: none;
          font-weight: 700;
          @media (max-width: 992px) {
            margin-left: 0%;
            margin-top: 10px;
          }

          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }
        }
      }
      .select {
        .row {
          @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
          }
        }
        label {
          font-size: 16px;
        }
      }

      .textarea {
        padding-bottom: 30px;
        label {
          cursor: pointer;
          font-size: 16px;
        }
        @media (max-width: 992px) {
          margin-left: 0%;
        }
        textarea {
          display: block;
          width: 100%;
          height: 160px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          outline: none;
          font-weight: 700;
          @media (max-width: 992px) {
            margin-left: 0%;
          }
          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }
        }
      }
      .checkbox {
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        label {
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          padding-left: 10px;
        }
        input[type="checkbox"] {
          width: 28px;
          height: 28px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          -webkit-appearance: none;
          outline: none;
          cursor: pointer;
          &:checked:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            color: rgba(0, 0, 0, 0.7);
            content: "\f00c";
            font-size: 15px;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .submit {
    text-align: right;
    padding: 30px 0px;
    @media (max-width: 767px) {
      text-align: center;
    }
    input {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: $GTWalsheimPro;
      width: 236px;
      height: 48px;
      border-radius: 5px;
      background-color: #618cfa;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      border: none;
      cursor: pointer;

      @media (max-width: 767px) {
        width: 100%;
        max-width: 230px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
      }
    }
  }

  .modal-profile-photo {
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding: 30px;
    position: relative;
    .drag-and-drop {
      position: relative;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 10px;
      padding-top: 100%;
      cursor: pointer;
      i {
        font-size: 30px;
        color: #979797;
      }
    }

    .range {
      max-width: 260px;
      margin: 0px auto;
      margin-bottom: 20px;

      label {
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #000000;
        display: inline-block;
        margin-bottom: 10px;
      }
      input[type="range"] {
        width: 100%;
      }
    }

    .label {
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #000000;
      display: inline-block;
      margin-bottom: 20px;
    }
    .button {
      text-align: center;
      input[type="button"] {
        outline: none;
        cursor: pointer;
        margin: 0px auto;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        padding: 17px 38px;
        border: 0;
        background-color: #618cfa;
        color: #ffffff;
        transition: opacity 0.3s linear;
      }
      input[type="button"].reset {
        background-color: #ffffff;
        color: #242424;
      }
    }
  }
}
</style>
