<template>
  <div class="layout-applications">
    <aside class="sidebar" v-bind:class="{ active: isSideBarActive }">
      <div class="logo">
        <router-link to="/"><img src="/images/sidebar-aplications/logo-white.svg" /></router-link>
      </div>
      <div class="close" v-on:click="onSideBarActive" v-bind:class="{ active: isSideBarActive }">
        <img src="/images/header-aplications/close-white.svg" />
      </div>
      <nav class="menu">
        <ul>
          <li>
            <router-link to="/applications" exact><i class="fal fa-file-alt"></i><span>Applications</span></router-link>
          </li>

          <li>
            <router-link to="/messages" exact><i class="fal fa-comment-alt-lines"></i><span>Messages</span></router-link>
          </li>
          <li>
            <router-link to="/profile" exact><i class="fal fa-user-circle"></i><span>Profile</span></router-link>
          </li>
          <li>
            <router-link to="/settings" exact><i class="fal fa-cog"></i><span>Settings</span></router-link>
          </li>
          <li>
            <a v-on:click.prevent="onSubmitLogout"><i class="fal fa-sign-out-alt"></i><span>Logout</span></a>
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <Navigation-Menu v-bind:isNavBarActive="isNavBarActive" v-on:onSideBarActive="onSideBarActive"></Navigation-Menu>
      <slot />
    </main>
  </div>
</template>

<script>
import NavigationMenu from "../components/Applications/NavigationMenu";
export default {
  data() {
    return {
      isSideBarActive: false,
      isNavBarActive: false,
    };
  },
  components: {
    NavigationMenu,
  },
  methods: {
    onSubmitLogout: function () {
      this.$store.dispatch("LOGOUT").then(() => {
        this.$router.push("/");
      });
    },
    onSideBarActive: function () {
      this.isSideBarActive = !this.isSideBarActive;
      this.isNavBarActive = this.isSideBarActive;
    },
  },
};
</script>

<style lang="scss" scoped>
.layout-applications {
  display: flex;
  background-color: #f2f5f7;
  min-height: 100%;

  .sidebar {
    min-width: 286px;
    background-color: #618cfa;
    min-height: 100vh;
    z-index: 999;
    @media (max-width: 991px) {
      position: absolute;
      right: -286px;
    }
    @media (max-width: 575px) {
      display: none;
    }

    &.active {
      right: 0px;
    }
    .logo {
      padding: 30px;
      @media (max-width: 991px) {
        display: none;
      }
    }

    .close {
      padding: 30px;
      height: 97px;
      text-align: right;
      display: none;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 991px) {
        display: flex;
      }
    }
    .menu {
      padding: 30px;
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          &:last-child {
            margin: 0px -30px;
            padding: 30px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
          }
          &:hover {
            opacity: 0.8;
          }

          i {
            min-width: 20px;
            font-size: 20px;
            text-align: center;
            margin-right: 10px;
            color: #ffffff;
            display: inline-block;
          }
          a {
            text-decoration: none;
            font-size: 16px;
            letter-spacing: 0.4px;
            color: #ffffff;
            cursor: pointer;

            &:hover,
            &:active,
            &.router-link-active {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
  main {
    width: 100%;
    padding: 60px;

    @media (max-width: 1199px) {
      padding: 60px 30px;
    }

    @media (max-width: 991px) {
      padding: 0px;
    }

    .container {
      margin: 0px;
      @media (max-width: 991px) {
        padding: 0px 30px;
      }
      @media (max-width: 767px) {
        padding: 0px;
      }
    }
  }
}
</style>
