<template>
  <div>
    <p>not found</p>
  </div>
</template>
<script>
import NavigationMenu from "../components/Landing/NavigationMenu";
import Footer from "../components/Landing/Footer";
export default {
  components: {
    NavigationMenu,
    Footer,
  },
};
</script>
