<template>
  <vue-scroll v-bind:ops="ops" ref="vs">
    <router-view v-bind:scroll="scroll"></router-view>
  </vue-scroll>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      isMounted: false,
      ops: {
        vuescroll: {
          mode: 'native',
          sizeStrategy: 'percent',
          detectResize: true,
          locking: true
        },
        scrollPanel: {
          scrollingY: true,
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#989898'
        }
      }
    }
  },
  created: function () {
    this.tokenCheck()
  },
  mounted() {
    this.isMounted = true
  },
  computed: {
    scroll: function () {
      if (this.isMounted) {
        return this.$refs.vs
      }
    }
  },
  methods: {
    tokenCheck() {
      if (localStorage.getItem('token')) {
        axios.defaults.headers.common['Authorization'] = localStorage.getItem(
          'token'
        )
      }
      axios.interceptors.response.use(undefined, function (error) {
        return new Promise(function (resolve, reject) {
          if (
            error.status === 401 &&
            error.config &&
            !error.config.__isRetryRequest
          ) {
            this.$store.dispatch('LOGOUT')
          }
          throw error
        })
      })
    }
  }
}
</script>
<style lang="scss" scoped></style>
