<template>
  <component v-bind:is="EditTypeComponent"></component>
</template>
<script>
 import CreateApplicationPage from "../CreateApplication/CreateApplicationPage";
import EditSubmittedApplicationPage from "../EditSubmittedApplicationPage/EditSubmittedApplicationPage";
export default {
  data(){
    return{
        preloader:null,
        status:null,
    }
  },
  components: {
    CreateApplicationPage,
    EditSubmittedApplicationPage,
  },
  computed: {
    EditTypeComponent() {
      if (this.$route.params.id) {
        return CreateApplicationPage;
      } else {
        return EditSubmittedApplicationPage;
      }
    },
  },
};
</script>
