<template>
  <LayoutApplications>
    <Preloader v-bind:show="preloader"></Preloader>
    <div class="edit-profile-page">
      <div class="container">
        <div class="heading">
          <h2>Profile</h2>
        </div>
        <div class="content">
          <div class="form">
            <div class="title">
              <h2>About You</h2>
            </div>
            <form id="profile" v-on:submit.prevent="onSubmitProfile">
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Photo</label>
                  </div>
                  <div class="col-md-9">
                    <div class="avatar" v-on:click="openModalAvatar">
                      <img v-bind:src="form.user.avatar ? form.user.avatar : '/images/edit-profile-page/avatar.svg'" ref="avatar" alt="avatar" />
                      <i class="fas fa-camera"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="name">Name</label>
                  </div>
                  <div class="col-md-9">
                    <input
                      type="text"
                      id="name"
                      placeholder="Name"
                      v-model.trim="form.user.name"
                      v-bind:class="{
                        'is-valid': $v.form.user.name.$error,
                      }"
                    />
                    <div v-if="$v.form.user.name.$error" class="is-valid-text">
                      <span v-if="!$v.form.user.name.required">Name is required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">I studed at</label>
                  </div>
                  <div class="col-md-9">
                    <input
                      type="text"
                      placeholder="College"
                      v-model.trim="form.user.profile.study_at"
                      v-bind:class="{
                        'is-valid': $v.form.user.profile.study_at.$error,
                      }"
                    />
                    <div v-if="$v.form.user.profile.study_at.$error" class="is-valid-text">
                      <span v-if="!$v.form.user.profile.study_at.required">Study at is required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Start year of study</label>
                  </div>
                  <div class="col-md-9">
                    <div class="select">
                      <div class="vue-select">
                        <treeselect v-model="form.user.profile.study_begin" v-bind:clearable="false" v-bind:options="studyBeginOptions" placeholder="Select Year" v-on:select="onSelectBeginYear" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">End year of study</label>
                  </div>
                  <div class="col-md-9">
                    <div class="select">
                      <div class="vue-select">
                        <treeselect v-model="form.user.profile.study_end" :clearable="false" :options="studyEndOptions" placeholder="Select Year" v-bind:disabled="false" v-on:select="onSelectEndYear" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Degree type</label>
                  </div>
                  <div class="col-md-9">
                    <div class="select">
                      <div class="vue-select">
                        <treeselect v-model="form.user.profile.study_degree" :clearable="false" :options="degreeTypeOptions" placeholder="Select Type" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Field of study</label>
                  </div>
                  <div class="col-md-9">
                    <div class="select">
                      <div class="vue-select">
                        <treeselect v-model="form.user.profile.study_field" :clearable="false" :options="studyFieldOptions" placeholder="Select Field" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">I worked at</label>
                  </div>
                  <div class="col-md-9">
                    <input
                      type="text"
                      placeholder="Company"
                      v-model.trim="form.user.profile.worked_at"
                      v-bind:class="{
                        'is-valid': $v.form.user.profile.worked_at.$error,
                      }"
                    />
                    <div v-if="$v.form.user.profile.worked_at.$error" class="is-valid-text">
                      <span v-if="!$v.form.user.profile.worked_at.required">Worked is required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">I founded</label>
                  </div>
                  <div class="col-md-9">
                    <input
                      type="text"
                      placeholder="Company"
                      v-model.trim="form.user.profile.founded"
                      v-bind:class="{
                        'is-valid': $v.form.user.profile.founded.$error,
                      }"
                    />
                    <div v-if="$v.form.user.profile.founded.$error" class="is-valid-text">
                      <span v-if="!$v.form.user.profile.founded.required">Founded is required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="textarea">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Mini-resume</label>
                  </div>
                  <div class="col-md-9">
                    <textarea
                      type="text"
                      placeholder="Tell us about yourself"
                      v-model.trim="form.user.profile.mini_resume"
                      v-bind:class="{
                        'is-valid': $v.form.user.profile.mini_resume.$error,
                      }"
                    ></textarea>
                    <div v-if="$v.form.user.profile.mini_resume.$error" class="is-valid-text">
                      <span v-if="!$v.form.user.profile.mini_resume.required">Mini resume is required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">LinkedIn</label>
                  </div>
                  <div class="col-md-9">
                    <input
                      type="text"
                      placeholder="https://"
                      v-model.trim="form.user.profile.linkedin"
                      v-bind:class="{
                        'is-valid': $v.form.user.profile.linkedin.$error,
                      }"
                    />
                    <div v-if="$v.form.user.profile.linkedin.$error" class="is-valid-text">
                      <span v-if="!$v.form.user.profile.linkedin.required">Linkedin is required</span>
                      <span v-if="!$v.form.user.profile.linkedin.url">Linkedin is invalid</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="submit">
          <input type="submit" value="Publish" form="profile" />
        </div>
      </div>
      <Modal v-bind:isShowModal="isShowModalAvatar" v-on:isCloseModal="isCloseModalAvatar" width="400" title="Select Profile Photo">
        <div class="modal-profile-photo">
          <div class="drag-and-drop">
            <vue-avatar :borderRadius="200" :style="{ 'border-radius': '50%' }" :scale="scale" ref="vueavatar" accept=".jpg, .jpeg, .png , .svg, .gif" placeholderSvg='<svg aria-hidden="true" width="50px" focusable="false" data-prefix="fas" data-icon="camera" class="svg-inline--fa fa-camera fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" fill-opacity="0.5" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"></path></svg>' v-on:vue-avatar-editor:image-ready="onImageReady"> </vue-avatar>
          </div>
          <div class="range">
            <label>Zoom : {{ scale }}x</label>
            <input type="range" min="1" max="3" step="0.02" v-model.number="scale" />
          </div>
          <div class="label">Drag files to upload, or</div>
          <div class="nav">
            <div class="button" v-if="!imageReady">
              <input type="button" class="choose" v-on:click="$refs.vueavatar.$refs.input.click()" value="CHOOSE FILE" />
            </div>
            <div class="button" v-if="imageReady">
              <input type="button" class="reset" v-on:click="resetAvatar" value="RESET" />
              <input type="button" class="upload" v-on:click="uploadAvatar" value="UPLOAD" />
            </div>
          </div>
        </div>
      </Modal>
    </div>
  </LayoutApplications>
</template>
<script>
import Preloader from "../../../components/Common/Preloader";
import Treeselect from "@riophae/vue-treeselect";
import { serialize } from "object-to-formdata";
import LayoutApplications from "../../../layout/LayoutApplications";
import Modal from "../../../components/Common/Modal";
import { required, email, minLength, maxLengt, numeric, url } from "vuelidate/lib/validators";
import { VueAvatar } from "vue-avatar-editor-improved";
export default {
  data() {
    return {
      preloader: true,
      degreeTypeOptions: [
        {
          id: "Type1",
          label: "Type1",
        },
        {
          id: "Type2",
          label: "Type2",
        },
        {
          id: "Type3",
          label: "Type3",
        },
      ],
      studyFieldOptions: [
        {
          id: "Field1",
          label: "Field1",
        },
        {
          id: "Field2",
          label: "Field2",
        },
        {
          id: "Field3",
          label: "Field3",
        },
      ],
      form: {
        user: {
          avatar: null,
          media: null,
          name: null,
          email: null,
          completedOn: null,
          type: this.userType,
          profile: {
            study_at: null,
            study_begin: null,
            study_end: null,
            study_degree: null,
            study_field: null,
            worked_at: null,
            founded: null,
            mini_resume: null,
            linkedin: null,
          },
        },
      },
      errors: [],
      isShowModalAvatar: false,
      scale: 1,
      imageReady: false,
      canvas: null,
      startYearBegin: 1980,
      startYearEnd: 1980,
    };
  },
  validations: {
    form: {
      user: {
        name: {
          required,
        },
        profile: {
          study_at: {
            required,
          },
          worked_at: {
            required,
          },
          founded: {
            required,
          },
          mini_resume: {
            required,
          },
          linkedin: {
            url,
            required,
          },
        },
      },
    },
  },
  computed: {
    userId: function () {
      return this.$store.getters.getUserInfo.userid;
    },
    userType: function () {
      return this.$store.getters.getUserInfo.type;
    },
    studyBeginOptions() {
      const currentYear = new Date().getFullYear();
      var years = [];
      var startYear = this.startYearBegin;
      for (var i = startYear; i <= currentYear; i++) {
        years.push({
          id: startYear.toString(),
          label: startYear.toString(),
        });
        startYear++;
      }
      return years;
    },
    studyEndOptions() {
      const currentYear = new Date().getFullYear();
      var years = [];
      var startYear = this.startYearEnd;
      for (var i = startYear; i <= currentYear; i++) {
        years.push({
          id: startYear.toString(),
          label: startYear.toString(),
        });
        startYear++;
      }
      return years;
    },
  },
  components: {
    LayoutApplications,
    Modal,
    VueAvatar,
    Treeselect,
    Preloader,
  },
  created() {
    this.getProfile();
  },
  methods: {
    onSelectBeginYear(option) {
      if (option.id > this.form.user.profile.study_end) {
        this.form.user.profile.study_end = option.id;
      }
    },
    onSelectEndYear(option) {
      if (option.id < this.form.user.profile.study_begin) {
        this.form.user.profile.study_begin = option.id;
      }
    },
    resetAvatar() {
      this.$refs.vueavatar.resetImage();
      this.imageReady = false;
    },
    uploadAvatar() {
      var imageScaled = this.$refs.vueavatar.getImageScaled();
      this.$refs.avatar.src = imageScaled.toDataURL();
      var image = imageScaled.toDataURL("image/jpeg");
      console.log(image);
      var file = this.dataURLtoFile(image, "avatar");
      console.log(file);
      this.form.user.media = file;
      this.isShowModalAvatar = false;
    },
    dataURLtoFile(dataurl, filename) {
      var arr = dataurl.split(","),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n);
      while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
      }
      return new File([u8arr], filename + "." + mime.replace("image/", ""), { type: mime });
    },
    onImageReady() {
      this.scale = 1;
      this.imageReady = true;
    },
    openModalAvatar() {
      this.isShowModalAvatar = true;
    },
    isCloseModalAvatar() {
      this.isShowModalAvatar = false;
    },
    onSubmitProfile() {
      this.$v.form.user.$touch();
      if (this.$v.form.user.$invalid) {
        return;
      } else {
        const formData = serialize(this.form.user);
        this.$store
          .dispatch("CREATEPROFILE", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((response) => {
            if (response.status == 200) {
              this.$router.push("/profile");
            }
          })
          .catch((error) => {
            this.errors = error.response.data;
          });
      }
    },
    getProfile() {
      this.$store
        .dispatch("GETROFILE")
        .then((response) => {
          if (response.status == 200) {
            Object.assign(this.form.user, response.data);
            this.preloader = false;
          }
        })
        .catch((error) => {
          this.errors = error.response.data;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.edit-profile-page {
  .heading {
    font-size: 22px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      padding: 30px;
    }
    h2 {
      margin: 0px;
      @media (max-width: 991px) {
        font-size: 22px;
      }
      @media (max-width: 576px) {
        font-size: 18px;
      }
    }
  }
  .content {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 70px 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    @media (max-width: 767px) {
      border-radius: 0px;
      padding: 30px;
    }
    .form {
      max-width: 800px;
      position: relative;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 767px) {
        border-radius: 0px;
        padding: 30px;
      }

      .form-group {
        display: flex;

        @media (max-width: 479px) {
          flex-direction: column;
        }

        .input {
          &:first-child {
            margin-right: 15px;
          }
        }
      }
      .status {
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
        color: #ffffff;
        border-radius: 5px;
        background-color: red;
        padding: 15px;
      }
      .is-valid {
        border-color: #ff0000 !important;
      }
      .is-valid-text {
        font-size: 14px;
        color: red;
        margin-top: 5px;
        position: absolute;
      }

      .avatar {
        position: relative;
        display: inline-block;
        cursor: pointer;
        img {
          border: 4px solid #618cfa;
          width: 120px;
          box-shadow: 0 2px 22px 0 rgba(32, 49, 94, 0.13);
          border-radius: 50%;
        }
        i {
          bottom: 0px;
          right: 0px;
          position: absolute;
          border-radius: 50%;
          box-shadow: 0 2px 22px 0 rgba(32, 49, 94, 0.13);
          background-color: #618cfa;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          width: 40px;
          height: 40px;
          font-size: 20px;
        }
      }
      .input {
        padding-bottom: 30px;
        label {
          cursor: pointer;
          font-size: 16px;
        }
        input {
          display: block;
          width: 100%;
          height: 44px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          outline: none;
          font-weight: 700;
          @media (max-width: 992px) {
            margin-left: 0%;
            margin-top: 10px;
          }

          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }
        }
      }
      .select {
        .row {
          @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
          }
        }
        label {
          font-size: 16px;
        }
      }

      .textarea {
        padding-bottom: 30px;
        label {
          cursor: pointer;
          font-size: 16px;
        }
        @media (max-width: 992px) {
          margin-left: 0%;
        }
        textarea {
          display: block;
          width: 100%;
          height: 160px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          outline: none;
          font-weight: 700;
          @media (max-width: 992px) {
            margin-left: 0%;
          }
          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }
        }
      }
      .checkbox {
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        label {
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          padding-left: 10px;
        }
        input[type="checkbox"] {
          width: 28px;
          height: 28px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          -webkit-appearance: none;
          outline: none;
          cursor: pointer;
          &:checked:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            color: rgba(0, 0, 0, 0.7);
            content: "\f00c";
            font-size: 15px;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .submit {
    text-align: right;
    padding: 30px 0px;
    @media (max-width: 767px) {
      text-align: center;
    }
    input {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: $GTWalsheimPro;
      width: 236px;
      height: 48px;
      border-radius: 5px;
      background-color: #618cfa;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      border: none;
      cursor: pointer;

      @media (max-width: 767px) {
        width: 100%;
        max-width: 230px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
      }
    }
  }

  .modal-profile-photo {
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding: 30px;
    position: relative;
    .drag-and-drop {
      position: relative;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 10px;
      padding-top: 100%;
      cursor: pointer;
      i {
        font-size: 30px;
        color: #979797;
      }
    }

    .range {
      max-width: 260px;
      margin: 0px auto;
      margin-bottom: 20px;

      label {
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #000000;
        display: inline-block;
        margin-bottom: 10px;
      }
      input[type="range"] {
        width: 100%;
      }
    }

    .label {
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #000000;
      display: inline-block;
      margin-bottom: 20px;
    }
    .button {
      text-align: center;
      input[type="button"] {
        outline: none;
        cursor: pointer;
        margin: 0px auto;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        padding: 17px 38px;
        border: 0;
        background-color: #618cfa;
        color: #ffffff;
        transition: opacity 0.3s linear;
      }
      input[type="button"].reset {
        background-color: #ffffff;
        color: #242424;
      }
    }
  }
}
</style>
