<template>
  <LayoutApplications>
    <Preloader v-bind:show="preloader"></Preloader>
    <div class="profile-page">
      <div class="container">
        <div class="heading">
          <h2>Profile</h2>
        </div>
        <div class="profile-complete">
          <h3>{{ form.user.name }}, your profile is {{ completedOnProcent }}<b>% complete</b></h3>
          <div>
            Next:Add your
            <p class="field-name"></p>
          </div>
        </div>
        <div class="content">
          <div class="edit">
            <router-link to="/edit-profile" exact><i class="fal fa-pencil"></i></router-link>
          </div>
          <div class="form">
            <div class="title">
              <h2>About You</h2>
            </div>
            <form>
              <div class="author">
                <div class="row">
                  <div class="col-md-2">
                    <div class="avatar">
                      <img v-bind:src="form.user.avatar ? form.user.avatar : '/images/edit-profile-page/avatar.svg'" alt="avatar" />
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="text">
                      <div class="name">{{ form.user.name }}</div>
                      <div class="role">Founder at {{ form.user.profile.founded }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="row">
                  <div class="col-md-3">
                    <span>I studed at</span>
                  </div>
                  <div class="col-md-9">
                    <span
                      ><b>{{ form.user.profile.study_at }}</b></span
                    >
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="row">
                  <div class="col-md-3">
                    <span>Start year of study</span>
                  </div>
                  <div class="col-md-9">
                    <span
                      ><b>{{ form.user.profile.study_begin }}</b></span
                    >
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="row">
                  <div class="col-md-3">
                    <span>End year of study</span>
                  </div>
                  <div class="col-md-9">
                    <span
                      ><b>{{ form.user.profile.study_end }}</b></span
                    >
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="row">
                  <div class="col-md-3">
                    <span>Degree type</span>
                  </div>
                  <div class="col-md-9">
                    <span
                      ><b>{{ form.user.profile.study_degree }}</b></span
                    >
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="row">
                  <div class="col-md-3">
                    <span>Field of study</span>
                  </div>
                  <div class="col-md-9">
                    <span
                      ><b>{{ form.user.profile.study_field }}</b></span
                    >
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="row">
                  <div class="col-md-3">
                    <label for=""><span>I worked at</span></label>
                  </div>
                  <div class="col-md-9">
                    <span
                      ><b>{{ form.user.profile.worked_at }}</b></span
                    >
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="row">
                  <div class="col-md-3">
                    <label for=""><span>Mini-resume</span></label>
                  </div>
                  <div class="col-md-9">
                    <span
                      ><b>{{ form.user.profile.mini_resume }}</b></span
                    >
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="row">
                  <div class="col-md-3">
                    <label for="">LinkedIn</label>
                  </div>
                  <div class="col-md-9">
                    <span
                      ><b
                        ><a target="_blank" v-bind:href="form.user.profile.linkedin">{{ form.user.profile.linkedin }}</a></b
                      ></span
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </LayoutApplications>
</template>
<script>
import Preloader from "../../../components/Common/Preloader";
import LayoutApplications from "../../../layout/LayoutApplications";
export default {
  data() {
    return {
      preloader: true,
      form: {
        user: {
          avatar: null,
          media: null,
          name: null,
          email: null,
          completedOn: null,
          profile: {
            company_location: null,
            company_name: null,
            company_site: null,
            founded: null,
            is_company: null,
            linkedin: null,
            mini_resume: null,
            study_at: null,
            study_begin: null,
            study_degree: null,
            study_end: null,
            study_field: null,
            worked_at: null,
          },
        },
      },
      errors: [],
    };
  },
  computed: {
    completedOnProcent: function () {
      return Math.round(this.form.user.completedOn);
    },
  },
  components: {
    LayoutApplications,
    Preloader,
  },

  created() {
    this.getProfile();
  },
  methods: {
    getProfile() {
      this.$store
        .dispatch("GETROFILE")
        .then((response) => {
          if (response.status == 200) {
            Object.assign(this.form.user, response.data);
            this.preloader = false;
          }
        })
        .catch((error) => {
          this.errors = error.response.data;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.profile-page {
  display: flex;
  background-color: #f2f5f7;
  .heading {
    font-size: 22px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      padding: 30px;
    }
    h2 {
      margin: 0px;
      @media (max-width: 991px) {
        font-size: 22px;
      }
      @media (max-width: 576px) {
        font-size: 18px;
      }
    }
  }
  .profile-complete {
    background-color: #f5b325;
    padding: 42px 48px;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      border-radius: 0px;
      padding: 30px;
    }

    .field-name {
      display: inline-block;
      text-transform: capitalize;
      margin-left: 10px;
    }

    h3 {
      font-weight: 400;
      font-size: 22px;
      font-weight: 500;
      line-height: 20px;
      margin: 0px;
      margin-bottom: 20px;
    }
    p {
      margin: 0px;
    }
  }
  .content {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 70px 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    @media (max-width: 767px) {
      border-radius: 0px;
      padding: 30px;
    }
    .edit {
      text-align: right;
      i {
        border-radius: 50%;
        box-shadow: 0 5px 10px 0 #c1c1c1;
        padding: 10px;
        background-color: #618cfa;
        color: #ffffff;
        margin-right: 5px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.3px;
        color: #618cfa;
      }
    }
    .form {
      position: relative;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 800px;
      @media (max-width: 767px) {
        border-radius: 0px;
      }

      .author {
        width: 100%;
        margin-bottom: 30px;
        .row {
          align-items: center;
        }
        .avatar {
          position: relative;
          display: inline-block;
          text-align: center;
          cursor: pointer;
          img {
            border: 4px solid #618cfa;
            width: 120px;
            box-shadow: 0 2px 22px 0 rgba(32, 49, 94, 0.3);
            border-radius: 50%;
          }
        }
        .text {
          .name {
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
            color: #242424;
          }
          .role {
            opacity: 0.7;
            font-size: 16px;
            line-height: 24px;
            color: #242424;
          }
        }
      }
      .field {
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 30px;
        background-color: #f2f5f7;
        @media (max-width: 992px) {
          flex-direction: column;
          align-items: flex-start;
        }
        label {
          cursor: pointer;
          font-size: 16px;
        }

        input {
          display: block;
          width: 100%;
          height: 44px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          outline: none;
          font-weight: 700;
          margin-left: 38%;
          @media (max-width: 992px) {
            margin-left: 0%;
            margin-top: 10px;
          }

          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }
        }

        a {
          text-decoration: none;
          color: #618cfa;
        }
      }

      .form-group {
        display: flex;

        @media (max-width: 479px) {
          flex-direction: column;
        }

        .input {
          &:first-child {
            margin-right: 15px;
          }
        }
      }
      .status {
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
        color: #ffffff;
        border-radius: 5px;
        background-color: red;
        padding: 15px;
      }
      .is-valid {
        border-color: #ff0000 !important;
      }
      .is-valid-text {
        display: none;
        font-size: 14px;
        color: red;
        margin-top: 5px;
        position: absolute;
      }

      .file {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
          flex-direction: column;
          align-items: flex-start;
        }
        label {
          font-size: 16px;
          position: absolute;
          @media (max-width: 992px) {
            position: static;
          }
        }
        .file-upload {
          display: flex;
          align-items: center;
          height: 54px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #f2f5f7;
          padding: 10px;
          font-size: 16px;
          outline: none;
          margin-left: 38%;
          cursor: pointer;
          white-space: nowrap;

          @media (max-width: 992px) {
            margin-left: 0%;
            margin-top: 10px;
          }
          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }

          i {
            border-radius: 50%;
            box-shadow: 0 5px 10px 0 #c1c1c1;
            padding: 10px;
            background-color: #ffffff;
            margin-left: 10px;
            color: #000000;
          }
        }
        input {
          display: none;
          width: 100%;
          height: 44px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          outline: none;
          font-weight: 700;
          margin-left: 300px;
          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }

          @media (max-width: 992px) {
            margin-left: 0%;
            margin-top: 10px;
          }
        }
      }
      .input {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
          flex-direction: column;
          align-items: flex-start;
        }
        label {
          font-size: 16px;
          position: absolute;
          @media (max-width: 992px) {
            position: static;
          }
        }
        input {
          display: block;
          width: 100%;
          height: 44px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          outline: none;
          font-weight: 700;
          margin-left: 38%;
          @media (max-width: 992px) {
            margin-left: 0%;
            margin-top: 10px;
          }

          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }
        }
      }

      .select {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
        label {
          font-size: 16px;
        }
        select {
          display: block;
          width: 100%;
          height: 44px;
          margin-top: 10px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          width: 100%;
          outline: none;
        }
      }

      .textarea {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
        display: flex;
        @media (max-width: 992px) {
          flex-direction: column;
          align-items: flex-start;
        }
        label {
          padding-top: 20px;
          position: absolute;
          font-size: 16px;
          @media (max-width: 992px) {
            position: static;
          }
        }
        @media (max-width: 992px) {
          margin-left: 0%;
          margin-top: 10px;
        }
        textarea {
          display: block;
          width: 100%;
          height: 160px;
          margin-top: 10px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          padding: 10px;
          font-size: 16px;
          outline: none;
          margin-left: 38%;
          font-weight: 700;
          @media (max-width: 992px) {
            margin-left: 0%;
            margin-top: 10px;
          }
          &::placeholder {
            font-weight: 400;
            color: #dddddd;
          }
        }
      }
      .checkbox {
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        label {
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          padding-left: 10px;
        }
        input[type="checkbox"] {
          width: 28px;
          height: 28px;
          border-radius: 5px;
          border: solid 1px #dddddd;
          background-color: #ffffff;
          -webkit-appearance: none;
          outline: none;
          cursor: pointer;
          &:checked:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            color: rgba(0, 0, 0, 0.7);
            content: "\f00c";
            font-size: 15px;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .submit {
    text-align: right;
    padding: 30px 0px;

    @media (max-width: 767px) {
      text-align: center;
    }
    input {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: $GTWalsheimPro;
      width: 236px;
      height: 48px;
      border-radius: 5px;
      background-color: #618cfa;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      border: none;
      cursor: pointer;

      @media (max-width: 767px) {
        width: 100%;
        max-width: 230px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .social {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 30px;
      .text {
        font-size: 14px;
        line-height: 1.93;
        color: #6e6e6e;
        margin-right: 10px;
      }
      .icons {
        display: flex;
        align-items: center;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #dddddd;
          margin-right: 5px;
          &:last-child {
            margin-right: 0px;
          }
          i {
            font-size: 14px;
            color: #6e6e6e;
          }
        }
      }
    }
    .do-not-have-account {
      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.69;
        color: #242424;
        margin-right: 5px;
      }
      a {
        font-weight: 700;
        color: #618cfa;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
}
</style>
