// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Variables
@import "variables";

// Normalize

@import "~normalize.css/normalize.css";

// Bootstrap Grid
@import "../css/bootstrap-grid.min.css";

/* __________ BASE STYLE BEGIN __________*/
html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-family: $Inter;
  font-size: 16px;
  background-color: #fdfdfd;
  color: #000000;
}
#app,
.__view {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
main {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 30px;
  padding: 0px 30px;

  @media (max-width: 767px) {
    margin-bottom: 0px;
    padding: 0px;
  }
}

.btn-yellow {
  display: inline-block;
  font-family: $GTWalsheimPro;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #ffba27;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-blue {
  display: inline-block;
  font-family: $GTWalsheimPro;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #618cfa;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-white {
  display: inline-block;
  font-family: $GTWalsheimPro;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #618cfa;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-border {
  display: inline-block;
  font-family: $GTWalsheimPro;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #618cfa;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: solid 1px #618cfa;
  cursor: pointer;
}
.btn-transparent {
  display: inline-block;
  font-family: $GTWalsheimPro;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #618cfa;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

.blue {
  color: #618cfa;
}
.yellow {
  color: #f5b325;
}

/* __________ BASE STYLE END __________*/
/* __________ SWIPER BEGIN __________*/

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  font-size: 12px;
  color: black;
  border-radius: 50%;
  background: #ffffff;
  opacity: 1;
  margin: 0 4px;
  outline: none;
  &:first-child {
    margin-left: 0px !important;
  }
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #618cfa;
}
/* __________ SWIPER END __________*/

#avatarEditorCanvas {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0px auto;
  transform: translateX(-50%);
}
.select {
  .vue-select {
    cursor: default;
    .vue-treeselect__control {
      height: 44px;
    }
    .vue-treeselect__placeholder,
    .vue-treeselect__single-value {
      line-height: 42px;
    }
    .vue-treeselect__control-arrow-container,
    .vue-treeselect__input-container,
    .vue-treeselect__input {
      cursor: default;
    }
    .vue-treeselect__control {
      border-color: #dddddd;
      box-shadow: none;
    }
    .vue-treeselect__placeholder {
      color: #dddddd;
    }
    .vue-treeselect__control-arrow {
      color: #dddddd;
    }
    .vue-treeselect__input {
      color: #dddddd;
    }
    .vue-treeselect__single-value {
      font-weight: 700;
    }

    .vue-treeselect.is-valid {
      .vue-treeselect__control {
        border-color: #ff0000 !important;
      }
    }
    .is-valid-text {
      font-size: 14px;
      color: red;
      margin-top: 5px;
      position: absolute;
    }
  }
}

.other {
  width: 104px;
  border: 0px;
  font-size: 22px;
  font-weight: 600;
  .vue-treeselect {
    .vue-treeselect__control {
      cursor: pointer;
      border: none;
      box-shadow: none;
      background: transparent;
    }
    .vue-treeselect__control-arrow-container {
      svg {
        fill: #242424;
      }
    }
    .vue-treeselect__placeholder {
      color: #242424 !important;
    }
  }
}
