<template>
  <LayoutApplications>
    <Preloader v-bind:show="preloader"></Preloader>
    <div class="create-application-page">
      <div class="container">
        <div class="heading">
          <h2>Applications</h2>
          <div class="numbers" v-bind:class="[{ 'first-step': step == 1 }, { 'second-step': step == 2 }, { 'third-step': step == 3 }]">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
        </div>
        <div class="content">
          <div class="steps">
            <div class="first-step" v-if="step == 1">
              <div class="form">
                <form>
                  <div class="company">
                    <div class="title">
                      <h2>Company name</h2>
                    </div>
                    <div class="input">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="company-name">Company Name</label>
                        </div>
                        <div class="col-md-9">
                          <input
                            type="text"
                            id="company-name"
                            placeholder="Company Name"
                            v-model.trim="form.firstStep.company_name"
                            v-bind:class="{
                              'is-valid': $v.form.firstStep.company_name.$error,
                            }"
                          />
                          <div v-if="$v.form.firstStep.company_name.$error" class="is-valid-text">
                            <span v-if="!$v.form.firstStep.company_name.required">Company Name is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="input">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="company-site">Company Site</label>
                        </div>
                        <div class="col-md-9">
                          <input
                            type="text"
                            id="company-site"
                            placeholder="https://"
                            v-model.trim="form.firstStep.company_site"
                            v-bind:class="{
                              'is-valid': $v.form.firstStep.company_site.$error,
                            }"
                          />
                          <div v-if="$v.form.firstStep.company_site.$error" class="is-valid-text">
                            <span v-if="!$v.form.firstStep.company_site.required">Company Site is required</span>
                            <span v-if="!$v.form.firstStep.company_site.url">Company Site is Url</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="input">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="company_location">Location</label>
                        </div>
                        <div class="col-md-9">
                          <input
                            type="text"
                            id="company_location"
                            placeholder="Add Location"
                            v-model.trim="form.firstStep.company_location"
                            v-bind:class="{
                              'is-valid': $v.form.firstStep.company_location.$error,
                            }"
                          />
                          <div v-if="$v.form.firstStep.company_location.$error" class="is-valid-text">
                            <span v-if="!$v.form.firstStep.company_location.required">Location is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="select">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="">Employees</label>
                        </div>
                        <div class="col-md-9">
                          <div class="vue-select">
                            <treeselect
                              v-model="form.firstStep.company_employees"
                              :clearable="false"
                              :options="companyEmployeesOptions"
                              placeholder="Select Employees"
                              v-bind:class="{
                                'is-valid': $v.form.firstStep.company_employees.$error,
                              }"
                            />
                          </div>
                          <div v-if="$v.form.firstStep.company_employees.$error" class="is-valid-text">
                            <span v-if="!$v.form.firstStep.company_employees.required">Employees is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="input">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="company_markets">Markets</label>
                        </div>
                        <div class="col-md-9">
                          <input
                            type="text"
                            id="company_markets"
                            placeholder="Add Markets"
                            v-model.trim="form.firstStep.company_markets"
                            v-bind:class="{
                              'is-valid': $v.form.firstStep.company_markets.$error,
                            }"
                          />
                          <div v-if="$v.form.firstStep.company_markets.$error" class="is-valid-text">
                            <span v-if="!$v.form.firstStep.company_markets.required">Markets is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="textarea">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="high-concept-pitch">High-Concept Pitch</label>
                        </div>
                        <div class="col-md-9">
                          <textarea
                            type="text"
                            id="high-concept-pitch"
                            placeholder="High-Concept Pitch"
                            v-model.trim="form.firstStep.company_concept"
                            v-bind:class="{
                              'is-valid': $v.form.firstStep.company_concept.$error,
                            }"
                          ></textarea>
                          <div v-if="$v.form.firstStep.company_concept.$error" class="is-valid-text">
                            <span v-if="!$v.form.firstStep.company_concept.required">Concept is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="textarea">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="company_product">Product</label>
                        </div>
                        <div class="col-md-9">
                          <textarea
                            type="text"
                            id="company_product"
                            placeholder="Product"
                            v-model.trim="form.firstStep.company_product"
                            v-bind:class="{
                              'is-valid': $v.form.firstStep.company_product.$error,
                            }"
                          ></textarea>
                          <div v-if="$v.form.firstStep.company_product.$error" class="is-valid-text">
                            <span v-if="!$v.form.firstStep.company_product.required">Product is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="project">
                    <div class="form-group">
                      <div class="text">
                        <div class="title">
                          <h2>Project title</h2>
                        </div>
                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                      </div>
                      <div class="input">
                        <div class="row">
                          <div class="col-md-3">
                            <label for="project-title">Title</label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              id="project-title"
                              placeholder="Title"
                              v-model.trim="form.firstStep.project_title"
                              v-bind:class="{
                                'is-valid': $v.form.firstStep.project_title.$error,
                              }"
                            />
                            <div v-if="$v.form.firstStep.project_title.$error" class="is-valid-text">
                              <span v-if="!$v.form.firstStep.project_title.required">Title is required</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="input">
                        <div class="row">
                          <div class="col-md-3">
                            <label for="project-sub-title">Subtitle (optional)</label>
                          </div>
                          <div class="col-md-9">
                            <input type="text" id="project-sub-title" placeholder="Subtitle" v-model.trim="form.firstStep.project_subtitle" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="text">
                        <div class="title">
                          <h2>Project category</h2>
                        </div>
                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                      </div>
                      <div class="select">
                        <div class="row">
                          <div class="col-md-3">
                            <label for="">Industry</label>
                          </div>
                          <div class="col-md-9">
                            <div class="vue-select">
                              <treeselect
                                v-model="form.firstStep.project_category"
                                :clearable="false"
                                :options="projectCategoryOptions"
                                placeholder="Select Industry"
                                v-bind:class="{
                                  'is-valid': $v.form.firstStep.project_category.$error,
                                }"
                              />
                            </div>
                            <div v-if="$v.form.firstStep.project_category.$error" class="is-valid-text">
                              <span v-if="!$v.form.firstStep.project_category.required">Industry is required</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="select">
                        <div class="row">
                          <div class="col-md-3">
                            <label for="">SubIndustry (optional)</label>
                          </div>
                          <div class="col-md-9">
                            <div class="vue-select">
                              <treeselect v-model="form.firstStep.project_subcategory" :clearable="false" :options="projectSubcategoryOptions" placeholder="Select SubIndustry" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="text">
                        <div class="title">
                          <h2>Project description</h2>
                        </div>
                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                      </div>
                      <div class="textarea">
                        <div class="row">
                          <div class="col-md-3">
                            <label for="project-description">Description</label>
                          </div>
                          <div class="col-md-9">
                            <textarea
                              type="text"
                              id="project-description"
                              placeholder="Write about your project like you’re explaining it to a friend…"
                              v-model.trim="form.firstStep.project_description"
                              v-bind:class="{
                                'is-valid': $v.form.firstStep.project_description.$error,
                              }"
                            ></textarea>
                            <div v-if="$v.form.firstStep.project_description.$error" class="is-valid-text">
                              <span v-if="!$v.form.firstStep.project_description.required">Description is required</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="input">
                        <div class="row">
                          <div class="col-md-3">
                            <label for="project-price">Project Price</label>
                          </div>
                          <div class="col-md-9">
                            <input
                              type="text"
                              id="project-price"
                              placeholder="Project Price"
                              v-model="form.firstStep.project_price"
                              v-bind:class="{
                                'is-valid': $v.form.firstStep.project_price.$error,
                              }"
                            />
                            <div v-if="$v.form.firstStep.project_price.$error" class="is-valid-text">
                              <span v-if="!$v.form.firstStep.project_price.required">Project Price is required</span>
                              <span v-if="!$v.form.firstStep.project_price.numeric">Project price must be a number</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="second-step" v-if="step == 2">
              <div class="form">
                <form>
                  <div class="title">
                    <h2>About Your Team</h2>
                  </div>
                  <div class="founders">
                    <div class="title">
                      <h3>Founders</h3>
                    </div>
                    <div class="author">
                      <div class="avatar">
                        <img v-bind:src="form.user.avatar ? form.user.avatar : '/images/edit-profile-page/avatar.svg'" alt="avatar" />
                      </div>
                      <div class="text">
                        <div class="name">
                          {{ form.user.name }}
                        </div>
                      </div>
                    </div>
                    <div class="add-an-founder">Add an founder +</div>
                  </div>
                  <div class="team">
                    <div class="text">
                      <div class="title">
                        <h3><b>Team</b> (optional)</h3>
                      </div>
                      <div class="description">People who work at your startup</div>
                    </div>
                    <div class="list" v-if="showTeamList || form.secondStepLists.users.team.length">
                      <div class="member" v-for="(member, index) in form.secondStepLists.users.team" v-bind:key="index">
                        <span class="email">
                          email:<a v-bind:href="`mailto:${member.email}`">{{ member.email }}</a>
                        </span>
                        <span class="role">Role:{{ member.role }}</span>
                      </div>
                    </div>
                    <div class="add-an-employee">
                      <div class="link" v-if="!showTeamForm" v-on:click="isShowTeamForm">Add an employee +</div>
                      <div class="form" v-if="showTeamForm">
                        <form>
                          <div class="input">
                            <input
                              type="text"
                              placeholder="Email"
                              v-model.trim="form.secondStep.users.team.email"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.users.team.email.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.users.team.email.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.users.team.email.required">Email is required</span>
                              <span v-if="!$v.form.secondStep.users.team.email.email">Email is invalid</span>
                            </div>
                          </div>

                          <div class="input">
                            <div class="vue-select">
                              <treeselect
                                v-model="form.secondStep.users.team.role"
                                :clearable="false"
                                :options="teamRoleOptions"
                                placeholder="Select Role"
                                v-bind:class="{
                                  'is-valid': $v.form.secondStep.users.team.role.$error,
                                }"
                              />
                            </div>
                            <div v-if="$v.form.secondStep.users.team.role.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.users.team.role.required">Role is required</span>
                            </div>
                          </div>
                          <div class="nav">
                            <input type="submit" value="Save" v-on:click.prevent="onSubmitTeamForm" />
                            <input type="button" value="Cancel" v-on:click.prevent="onCancelTeamForm" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="previous-investors">
                    <div class="text">
                      <div class="title">
                        <h3>
                          <b>Previous Investors</b>
                          (optional)
                        </h3>
                      </div>
                      <div class="description">People who invested during past fundraising rounds</div>
                    </div>
                    <div class="list" v-if="showInvestorsList || form.secondStepLists.data.investors.length">
                      <div class="member" v-for="(member, index) in form.secondStepLists.data.investors" v-bind:key="index">
                        <span class="name"> name:{{ member.name }} </span>
                        <span class="url"
                          >Url:<a v-bind:href="`${member.url}`">{{ member.url }}</a></span
                        >
                      </div>
                    </div>
                    <div class="add-an-investors">
                      <div class="link" v-if="!showInvestorsForm" v-on:click="isShowInvestorsForm">Add an investors +</div>
                      <div class="form" v-if="showInvestorsForm">
                        <form>
                          <div class="input">
                            <input
                              type="text"
                              placeholder="Name"
                              v-model.trim="form.secondStep.data.investors.name"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.data.investors.name.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.data.investors.name.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.data.investors.name.required">Name is required</span>
                            </div>
                          </div>

                          <div class="input">
                            <input
                              type="text"
                              placeholder="Url"
                              v-model="form.secondStep.data.investors.url"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.data.investors.url.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.data.investors.url.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.data.investors.url.required">Url is required</span>
                              <span v-if="!$v.form.secondStep.data.investors.url.url">Url is invalid</span>
                            </div>
                          </div>
                          <div class="nav">
                            <input type="submit" value="Save" v-on:click.prevent="onSubmitInvestorsForm" />
                            <input type="button" value="Cancel" v-on:click.prevent="onCancelInvestorsForm" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="incubator">
                    <div class="text">
                      <div class="title">
                        <h3>
                          <b>Incubator</b>
                          (optional)
                        </h3>
                      </div>
                      <div class="description">People who invested during past fundraising rounds</div>
                    </div>
                    <div class="list" v-if="showIncubatorList || form.secondStepLists.data.incubator.length">
                      <div class="member" v-for="(member, index) in form.secondStepLists.data.incubator" v-bind:key="index">
                        <span class="name">name:{{ member.name }} </span>
                        <span class="url"
                          >Url:<a v-bind:href="`${member.url}`">{{ member.url }}</a></span
                        >
                      </div>
                    </div>
                    <div class="add-an-incubator">
                      <div class="link" v-if="!showIncubatorForm" v-on:click="isShowIncubatorForm">Add an incubator +</div>
                      <div class="form" v-if="showIncubatorForm">
                        <form>
                          <div class="input">
                            <input
                              type="text"
                              placeholder="Name"
                              v-model.trim="form.secondStep.data.incubator.name"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.data.incubator.name.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.data.incubator.name.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.data.incubator.name.required">Name is required</span>
                            </div>
                          </div>

                          <div class="input">
                            <input
                              type="text"
                              placeholder="Url"
                              v-model="form.secondStep.data.incubator.url"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.data.incubator.url.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.data.incubator.url.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.data.incubator.url.required">Url is required</span>
                              <span v-if="!$v.form.secondStep.data.incubator.url.url">Url is invalid</span>
                            </div>
                          </div>
                          <div class="nav">
                            <input type="submit" value="Save" v-on:click.prevent="onSubmitIncubatorForm" />
                            <input type="button" value="Cancel" v-on:click.prevent="onCancelIncubatorForm" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="advisors">
                    <div class="text">
                      <div class="title">
                        <h3>
                          <b>Advisors</b>
                          (optional)
                        </h3>
                      </div>
                      <div class="description">People who invested during past fundraising rounds</div>
                    </div>
                    <div class="list" v-if="showAdvisorsList || form.secondStepLists.data.advisors.length">
                      <div class="member" v-for="(member, index) in form.secondStepLists.data.advisors" v-bind:key="index">
                        <span class="name">name:{{ member.name }} </span>
                        <span class="url"
                          >Url:<a v-bind:href="`${member.url}`">{{ member.url }}</a></span
                        >
                      </div>
                    </div>
                    <div class="add-an-advisors">
                      <div class="link" v-if="!showAdvisorsForm" v-on:click="isShowAdvisorsForm">Add an advisors +</div>
                      <div class="form" v-if="showAdvisorsForm">
                        <form>
                          <div class="input">
                            <input
                              type="text"
                              placeholder="Name"
                              v-model.trim="form.secondStep.data.advisors.name"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.data.advisors.name.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.data.advisors.name.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.data.advisors.name.required">Name is required</span>
                            </div>
                          </div>

                          <div class="input">
                            <input
                              type="text"
                              placeholder="Url"
                              v-model="form.secondStep.data.advisors.url"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.data.advisors.url.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.data.advisors.url.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.data.advisors.url.required">Url is required</span>
                              <span v-if="!$v.form.secondStep.data.advisors.url.url">Url is invalid</span>
                            </div>
                          </div>
                          <div class="nav">
                            <input type="submit" value="Save" v-on:click.prevent="onSubmitAdvisorsForm" />
                            <input type="button" value="Cancel" v-on:click.prevent="onCancelAdvisorsForm" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="partners">
                    <div class="text">
                      <div class="title">
                        <h3>
                          <b>Partners</b>
                          (optional)
                        </h3>
                      </div>
                      <div class="description">People who invested during past fundraising rounds</div>
                    </div>
                    <div class="list" v-if="showPartnersList || form.secondStepLists.data.partners.length">
                      <div class="member" v-for="(member, index) in form.secondStepLists.data.partners" v-bind:key="index">
                        <span class="name">name:{{ member.name }} </span>
                        <span class="url"
                          >Url:<a v-bind:href="`${member.url}`">{{ member.url }}</a></span
                        >
                      </div>
                    </div>
                    <div class="add-an-partners">
                      <div class="link" v-if="!showPartnersForm" v-on:click="isShowPartnersForm">Add an partners +</div>
                      <div class="form" v-if="showPartnersForm">
                        <form>
                          <div class="input">
                            <input
                              type="text"
                              placeholder="Name"
                              v-model.trim="form.secondStep.data.partners.name"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.data.partners.name.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.data.partners.name.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.data.partners.name.required">Name is required</span>
                            </div>
                          </div>

                          <div class="input">
                            <input
                              type="text"
                              placeholder="Url"
                              v-model="form.secondStep.data.partners.url"
                              v-bind:class="{
                                'is-valid': $v.form.secondStep.data.partners.url.$error,
                              }"
                            />
                            <div v-if="$v.form.secondStep.data.partners.url.$error" class="is-valid-text">
                              <span v-if="!$v.form.secondStep.data.partners.url.required">Url is required</span>
                              <span v-if="!$v.form.secondStep.data.partners.url.url">Url is invalid</span>
                            </div>
                          </div>
                          <div class="nav">
                            <input type="submit" value="Save" v-on:click.prevent="onSubmitPartnersForm" />
                            <input type="button" value="Cancel" v-on:click.prevent="onCancelPartnersForm" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="third-step" v-if="step == 3">
              <div class="form">
                <form>
                  <div class="project-documents">
                    <div class="text">
                      <div class="title">
                        <h2>Project documents</h2>
                      </div>
                      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                    </div>
                    <div class="drop-file">
                      <label for="">1. Executive Summary</label>
                      <div class="file-upload" v-on:click="onFileUploadTriggerClick('file1')">
                        <div class="file-label" v-if="!form.thirdStep.files.file1.showFileName"><i class="far fa-paperclip"></i><span>Drop the document, or select a file.</span></div>
                        <div class="file-name" v-if="form.thirdStep.files.file1.showFileName" v-on:click.stop>
                          <span class="icon"><i class="fal fa-file-alt"></i></span><span>{{ form.thirdStep.files.file1.fileName }}</span
                          ><span class="delete" v-on:click.stop="onDeleteFileFromUpload('file1')"><i class="fal fa-trash-alt"></i></span>
                        </div>
                        <input type="file" ref="file1" v-on:change="onFileUpload('file1')" />
                      </div>
                    </div>
                    <div class="drop-file">
                      <label for="">2. Executive Summary</label>
                      <div class="file-upload" v-on:click="onFileUploadTriggerClick('file2')">
                        <div class="file-label" v-if="!form.thirdStep.files.file2.showFileName"><i class="far fa-paperclip"></i><span>Drop the document, or select a file.</span></div>
                        <div class="file-name" v-if="form.thirdStep.files.file2.showFileName" v-on:click.stop>
                          <span class="icon"><i class="fal fa-file-alt"></i></span><span>{{ form.thirdStep.files.file2.fileName }}</span
                          ><span class="delete" v-on:click.stop="onDeleteFileFromUpload('file2')"><i class="fal fa-trash-alt"></i></span>
                        </div>
                        <input type="file" ref="file2" v-on:change="onFileUpload('file2')" />
                      </div>
                    </div>
                    <div class="drop-file">
                      <label for="">3. Executive Summary</label>
                      <div class="file-upload" v-on:click="onFileUploadTriggerClick('file3')">
                        <div class="file-label" v-if="!form.thirdStep.files.file3.showFileName"><i class="far fa-paperclip"></i><span>Drop the document, or select a file.</span></div>
                        <div class="file-name" v-if="form.thirdStep.files.file3.showFileName" v-on:click.stop>
                          <span class="icon"><i class="fal fa-file-alt"></i></span><span>{{ form.thirdStep.files.file3.fileName }}</span
                          ><span class="delete" v-on:click.stop="onDeleteFileFromUpload('file3')"><i class="fal fa-trash-alt"></i></span>
                        </div>
                        <input type="file" ref="file3" v-on:change="onFileUpload('file3')" />
                      </div>
                    </div>
                    <div class="drop-file">
                      <label for="">4. Executive Summary</label>
                      <div class="file-upload" v-on:click="onFileUploadTriggerClick('file4')">
                        <div class="file-label" v-if="!form.thirdStep.files.file4.showFileName"><i class="far fa-paperclip"></i><span>Drop the document, or select a file.</span></div>
                        <div class="file-name" v-if="form.thirdStep.files.file4.showFileName" v-on:click.stop>
                          <span class="icon"><i class="fal fa-file-alt"></i></span><span>{{ form.thirdStep.files.file4.fileName }}</span
                          ><span class="delete" v-on:click.stop="onDeleteFileFromUpload('file4')"><i class="fal fa-trash-alt"></i></span>
                        </div>
                        <input type="file" ref="file4" v-on:change="onFileUpload('file4')" />
                      </div>
                    </div>
                    <div class="drop-file">
                      <label for="">5. Executive Summary</label>
                      <div class="file-upload" v-on:click="onFileUploadTriggerClick('file5')">
                        <div class="file-label" v-if="!form.thirdStep.files.file5.showFileName"><i class="far fa-paperclip"></i><span>Drop the document, or select a file.</span></div>
                        <div class="file-name" v-if="form.thirdStep.files.file5.showFileName" v-on:click.stop>
                          <span class="icon"><i class="fal fa-file-alt"></i></span><span>{{ form.thirdStep.files.file5.fileName }}</span
                          ><span class="delete" v-on:click.stop="onDeleteFileFromUpload('file5')"><i class="fal fa-trash-alt"></i></span>
                        </div>
                        <input type="file" ref="file5" v-on:change="onFileUpload('file5')" />
                      </div>
                    </div>
                    <div class="complite-changes">
                      <span><b>20%</b> complete, <b>20%</b> chance of getting investment</span><i class="fas fa-info-circle"></i>
                    </div>
                  </div>
                  <hr />
                  <div class="other-documents">
                    <div class="other-group">
                      <div class="text">
                        <div class="title">
                          <h2>Other Documents (optional)</h2>
                        </div>
                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                      </div>
                      <div class="drop-file">
                        <div class="file-upload" v-on:click="onFileUploadTriggerClick('file6')">
                          <div class="file-label" v-if="!form.thirdStep.files.file6.showFileName"><i class="far fa-paperclip"></i><span>Drop the document, or select a file.</span></div>
                          <div class="file-name" v-if="form.thirdStep.files.file6.showFileName" v-on:click.stop>
                            <span class="icon"><i class="fal fa-file-alt"></i></span><span>{{ form.thirdStep.files.file6.fileName }}</span
                            ><span class="delete" v-on:click.stop="onDeleteFileFromUpload('file6')"><i class="fal fa-trash-alt"></i></span>
                          </div>
                          <input type="file" ref="file6" v-on:change="onFileUpload('file6')" />
                        </div>
                      </div>
                      <hr />
                      <div class="text">
                        <div class="title">
                          <h2>Project video (optional)</h2>
                        </div>
                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                      </div>

                      <div class="input">
                        <div class="row">
                          <div class="col-md-3">
                            <label for="youtube-or-vimeo">Link a Youtube or Vimeo</label>
                          </div>
                          <div class="col-md-9">
                            <div class="input">
                              <input
                                type="text"
                                placeholder="https://"
                                v-model="form.thirdStepList.project_video"
                                v-bind:class="{
                                  'is-valid': $v.form.thirdStepList.project_video.$error,
                                }"
                              />
                              <div v-if="$v.form.thirdStepList.project_video.$error" class="is-valid-text">
                                <span v-if="!$v.form.thirdStepList.project_video.required">Url is required</span>
                                <span v-if="!$v.form.thirdStepList.project_video.url">Url is invalid</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="checkbox">
                      <input id="accepted" type="checkbox" v-on:input="onAccepterdTheTermsOfService" />
                      <label for="accepted">I have read and accepted the <a href="">Terms of Service</a></label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation" v-if="step == 1">
          <button type="button" class="next" v-on:click="next">Next</button>
        </div>
        <div class="navigation" v-if="step == 2">
          <button type="button" class="prev" v-on:click="prev">Prev</button>
          <button type="button" class="next" v-on:click="next">Next</button>
        </div>
        <div class="navigation" v-if="step == 3">
          <button type="button" class="prev" v-on:click="prev">Prev</button>
          <button type="submit" class="submit" v-bind:disabled="acccepterdTheTermsOfService" v-on:click.prevent="onSubmitApplications">Submit</button>
        </div>
      </div>
    </div>
  </LayoutApplications>
</template>

<script>
import Preloader from "../../../components/Common/Preloader";
import { serialize } from "object-to-formdata";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import LayoutApplications from "../../../layout/LayoutApplications";
import { required, email, minLength, maxLengt, numeric, url } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      preloader: true,
      teamRoleOptions: [
        {
          id: "admin",
          label: "Admin",
        },
        {
          id: "member",
          label: "Member",
        },
        {
          id: "owner",
          label: "Owner",
        },
      ],
      companyEmployeesOptions: [
        {
          id: "1",
          label: "a",
        },
        {
          id: "2",
          label: "b",
        },
        {
          id: "3",
          label: "c",
        },
      ],
      projectCategoryOptions: [
        {
          id: "a",
          label: "a",
        },
        {
          id: "b",
          label: "b",
        },
        {
          id: "c",
          label: "c",
        },
      ],
      projectSubcategoryOptions: [
        {
          id: "a",
          label: "a",
        },
        {
          id: "b",
          label: "b",
        },
        {
          id: "c",
          label: "c",
        },
      ],
      errors: [],
      step: 1,
      applicationId: null,
      showTeamForm: false,
      showTeamList: false,
      showInvestorsForm: false,
      showInvestorsList: false,
      showIncubatorForm: false,
      showIncubatorList: false,
      showAdvisorsForm: false,
      showAdvisorsList: false,
      showPartnersForm: false,
      showPartnersList: false,
      acccepterdTheTermsOfService: true,

      form: {
        user: {
          avatar: null,
          media: null,
          name: null,
          email: null,
          completedOn: null,
          type: null,
          profile: {
            study_at: null,
            study_begin: null,
            study_end: null,
            study_degree: null,
            study_field: null,
            worked_at: null,
            founded: null,
            mini_resume: null,
            linkedin: null,
          },
        },
        firstStep: {
          company_name: "",
          company_site: "",
          company_location: "",
          company_employees: null,
          company_markets: "",
          company_concept: "",
          company_product: "",
          project_title: "",
          project_subtitle: "",
          project_category: null,
          project_subcategory: null,
          project_description: "",
          project_price: this.$store.getters.projectPrice,
          step: 1,
          status: "created",
        },

        secondStep: {
          users: {
            founder: {
              email: null,
              role: null,
            },
            team: {
              email: "",
              role: "admin",
            },
          },
          data: {
            investors: {
              name: null,
              url: null,
            },
            incubator: {
              name: null,
              url: null,
            },
            advisors: {
              name: null,
              url: null,
            },
            partners: {
              name: null,
              url: null,
            },
          },
        },
        secondStepLists: {
          users: {
            founder: [],
            team: [],
          },
          data: {
            investors: [],
            incubator: [],
            advisors: [],
            partners: [],
          },
          step: 2,
          status: "created",
        },
        thirdStep: {
          files: {
            file1: {
              showFileName: false,
              file: null,
              fileName: null,
            },
            file2: {
              showFileName: false,
              file: null,
              fileName: null,
            },
            file3: {
              showFileName: false,
              file: null,
              fileName: null,
            },
            file4: {
              showFileName: false,
              file: null,
              fileName: null,
            },
            file5: {
              showFileName: false,
              file: null,
              fileName: null,
            },
            file6: {
              showFileName: false,
              file: null,
              fileName: null,
            },
          },
        },
        thirdStepList: {
          documents: [],
          project_video: null,
          step: 3,
          status: "submitted",
        },
      },
    };
  },
  validations: {
    form: {
      firstStep: {
        company_name: {
          required,
        },
        company_site: {
          url,
          required,
        },
        company_location: {
          required,
        },
        company_employees: {
          required,
        },
        company_markets: {
          required,
        },
        company_concept: {
          required,
        },
        company_product: {
          required,
        },
        project_category: {
          required,
        },
        project_title: {
          required,
        },
        project_description: {
          required,
        },
        project_price: {
          numeric,
          required,
        },
      },
      secondStep: {
        users: {
          founder: {
            email: {
              email,
              required,
            },
            role: {
              required,
            },
          },
          team: {
            email: {
              email,
              required,
            },
            role: {
              required,
            },
          },
        },
        data: {
          investors: {
            name: {
              required,
            },
            url: {
              url,
              required,
            },
          },
          incubator: {
            name: {
              required,
            },
            url: {
              url,
              required,
            },
          },
          advisors: {
            name: {
              required,
            },
            url: {
              url,
              required,
            },
          },
          partners: {
            name: {
              required,
            },
            url: {
              url,
              required,
            },
          },
        },
      },
      thirdStepList: {
        project_video: {
          url,
          required,
        },
      },
    },
  },
  props: ["scroll"],
  created() {
    this.getProfile();
    this.getApplication();
  },
  destroyed() {
    sessionStorage.removeItem("applicationId");
    sessionStorage.removeItem("applicationStep");
  },
  components: {
    LayoutApplications,
    Treeselect,
    Preloader,
  },
  methods: {
    onSubmitApplications() {
      const wholeForm = Object.assign(this.form.firstStep, this.form.secondStepLists, this.form.thirdStepList);
      const formData = serialize(wholeForm, { indices: true });
      let id = this.applicationId;
      this.$store
        .dispatch(
          "UPDATEAPPLICATION",
          { formData, id },
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          },
        )
        .then((response) => {
          if (response.status == 200) {
            sessionStorage.removeItem("applicationId");
            sessionStorage.removeItem("applicationStep");
            this.$router.push("/applications");
          }
        })
        .catch((error) => {
          this.errors = error.response.data;
        });
    },

    onAccepterdTheTermsOfService(event) {
      this.acccepterdTheTermsOfService = !event.target.checked;
    },

    onFileUploadTriggerClick(fileIndex) {
      this.$refs[fileIndex].click();
    },

    onFileUpload(fileIndex) {
      this.form.thirdStep.files[fileIndex].file = this.$refs[fileIndex].files[0];
      this.form.thirdStep.files[fileIndex].fileName = this.$refs[fileIndex].files[0].name;
      this.form.thirdStep.files[fileIndex].showFileName = true;
      this.form.thirdStepList.documents.push({
        file: this.form.thirdStep.files[fileIndex].file,
      });
    },

    onDeleteFileFromUpload(fileIndex) {
      this.form.thirdStep.files[fileIndex].file = null;
      this.form.thirdStep.files[fileIndex].fileName = null;
      this.form.thirdStep.files[fileIndex].showFileName = false;
      this.form.thirdStepList.documents = this.form.thirdStepList.documents.filter((file) => {
        return file !== this.$refs[fileIndex].files[0];
      });
    },
    next() {
      if (this.step == 1) {
        this.$v.form.firstStep.$touch();
        if (this.$v.form.firstStep.$invalid) {
          return;
        } else {
          if (this.applicationId == null) {
            const formData = serialize(this.form.firstStep, { indices: true });
            this.$store
              .dispatch("CREATEAPPLICATION", formData, {
                headers: {
                  "Content-Type": "multipart/form-data",
                },
              })
              .then((response) => {
                if (response.status == 200) {
                  this.step++;
                  this.applicationId = response.data.id;
                  sessionStorage.setItem("applicationId", this.applicationId);
                  sessionStorage.setItem("applicationStep", this.step);
                  this.scroll.scrollTo(
                    {
                      y: 0,
                    },
                    0,
                  );
                }
              })
              .catch((error) => {
                this.errors = error.response.data;
              });
          } else {
            const formData = serialize(this.form.firstStep);
            let id = this.applicationId;
            this.$store
              .dispatch(
                "UPDATEAPPLICATION",
                { formData, id },
                {
                  headers: {
                    "Content-Type": "multipart/form-data",
                  },
                },
              )
              .then((response) => {
                if (response.status == 200) {
                  this.step++;
                  sessionStorage.setItem("applicationStep", this.step);
                  this.scroll.scrollTo(
                    {
                      y: 0,
                    },
                    0,
                  );
                }
              })
              .catch((error) => {
                this.errors = error.response.data;
              });
          }
        }
      }

      if (this.step == 2) {
        const formData = serialize(this.form.secondStepLists, { indices: true });
        let id = this.applicationId;
        this.$store
          .dispatch(
            "UPDATEAPPLICATION",
            { formData, id },
            {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            },
          )
          .then((response) => {
            if (response.status == 200) {
              this.step++;
              sessionStorage.setItem("applicationStep", this.step);
              this.scroll.scrollTo(
                {
                  y: 0,
                },
                0,
              );
            }
          })
          .catch((error) => {
            this.errors = error.response.data;
          });
      }
    },
    prev() {
      this.step--;
      sessionStorage.setItem("applicationStep", this.step);
      this.scroll.scrollTo(
        {
          y: 0,
        },
        0,
      );
    },

    onSubmitTeamForm() {
      this.$v.form.secondStep.users.team.$touch();
      if (this.$v.form.secondStep.users.team.$invalid) {
        return;
      } else {
        this.form.secondStepLists.users.team.push({
          email: this.form.secondStep.users.team.email,
          role: this.form.secondStep.users.team.role,
        });
        this.form.secondStep.users.team.email = "";
        this.form.secondStep.users.team.role = "";
        this.showTeamForm = false;
        this.showTeamList = true;
        this.$v.form.secondStep.users.team.$reset();
      }
    },
    onCancelTeamForm() {
      this.form.secondStep.users.team.email = "";
      this.form.secondStep.users.team.role = "";
      this.showTeamForm = false;
      this.$v.form.secondStep.users.team.$reset();
    },
    isShowTeamForm() {
      this.showTeamForm = true;
    },

    onSubmitInvestorsForm() {
      this.$v.form.secondStep.data.investors.$touch();
      if (this.$v.form.secondStep.data.investors.$invalid) {
        return;
      } else {
        this.form.secondStepLists.data.investors.push({
          name: this.form.secondStep.data.investors.name,
          url: this.form.secondStep.data.investors.url,
        });

        this.form.secondStep.data.investors.name = "";
        this.form.secondStep.data.investors.url = "";
        this.showInvestorsForm = false;
        this.showInvestorsList = true;
        this.$v.form.secondStep.data.investors.$reset();
      }
    },

    onCancelInvestorsForm() {
      this.form.secondStep.data.investors.name = "";
      this.form.secondStep.data.investors.url = "";
      this.showInvestorsForm = false;
      this.$v.form.secondStep.data.investors.$reset();
    },
    isShowInvestorsForm() {
      this.showInvestorsForm = true;
    },

    onSubmitIncubatorForm() {
      this.$v.form.secondStep.data.incubator.$touch();
      if (this.$v.form.secondStep.data.incubator.$invalid) {
        return;
      } else {
        this.form.secondStepLists.data.incubator.push({
          name: this.form.secondStep.data.incubator.name,
          url: this.form.secondStep.data.incubator.url,
        });
        this.form.secondStep.data.incubator.name = "";
        this.form.secondStep.data.incubator.url = "";
        this.showIncubatorForm = false;
        this.showIncubatorList = true;
        this.$v.form.secondStep.data.incubator.$reset();
      }
    },
    onCancelIncubatorForm() {
      this.form.secondStep.data.incubator.name = "";
      this.form.secondStep.data.incubator.url = "";
      this.showIncubatorForm = false;
      this.$v.form.secondStep.data.incubator.$reset();
    },
    isShowIncubatorForm() {
      this.showIncubatorForm = true;
    },

    onSubmitPartnersForm() {
      this.$v.form.secondStep.data.partners.$touch();
      if (this.$v.form.secondStep.data.partners.$invalid) {
        return;
      } else {
        this.form.secondStepLists.data.partners.push({
          name: this.form.secondStep.data.partners.name,
          url: this.form.secondStep.data.partners.url,
        });
        this.form.secondStep.data.partners.name = "";
        this.form.secondStep.data.partners.url = "";
        this.showPartnersForm = false;
        this.showPartnersList = true;
        this.$v.form.secondStep.data.partners.$reset();
      }
    },
    onCancelPartnersForm() {
      this.form.secondStep.data.partners.name = "";
      this.form.secondStep.data.partners.url = "";
      this.showPartnersForm = false;
      this.$v.form.secondStep.data.partners.$reset();
    },
    isShowPartnersForm() {
      this.showPartnersForm = true;
    },

    onSubmitAdvisorsForm() {
      this.$v.form.secondStep.data.advisors.$touch();
      if (this.$v.form.secondStep.data.advisors.$invalid) {
        return;
      } else {
        this.form.secondStepLists.data.advisors.push({
          name: this.form.secondStep.data.advisors.name,
          url: this.form.secondStep.data.advisors.url,
        });
        this.form.secondStep.data.advisors.name = "";
        this.form.secondStep.data.advisors.url = "";
        this.showAdvisorsForm = false;
        this.showAdvisorsList = true;
        this.$v.form.secondStep.data.advisors.$reset();
      }
    },
    onCancelAdvisorsForm() {
      this.form.secondStep.data.advisors.name = "";
      this.form.secondStep.data.advisors.url = "";
      this.showAdvisorsForm = false;
      this.$v.form.secondStep.data.advisors.$reset();
    },
    isShowAdvisorsForm() {
      this.showAdvisorsForm = true;
    },

    getApplication() {
      if (sessionStorage.getItem("applicationId")) {
        this.step = sessionStorage.getItem("applicationStep");
      }
      if (sessionStorage.getItem("applicationId")) {
        this.applicationId = sessionStorage.getItem("applicationId");
        this.$store
          .dispatch("GETAPPLICATION", this.applicationId)
          .then((response) => {
            if (response.status == 200) {
              delete response.data.media;
              Object.assign(this.form.firstStep, response.data);
              if (response.data.data) {
                Object.assign(this.form.secondStepLists.data, response.data.data);
              }
              if (response.data.documents) {
                Object.assign(this.form.secondStepLists.documents, response.data.documents);
              }
              if (response.data.project_video) {
                Object.assign(this.form.thirdStepList.project_video, response.data.project_video);
              }
              if (sessionStorage.getItem("applicationStep")) {
                this.step = sessionStorage.getItem("applicationStep");
              }
              this.preloader = false;
            }
          })
          .catch((error) => {
            this.errors = error.response.data;
          });
      }
      this.preloader = false;
    },
    getProfile() {
      this.$store
        .dispatch("GETROFILE")
        .then((response) => {
          if (response.status == 200) {
            Object.assign(this.form.user, response.data);
          }
        })
        .catch((error) => {
          this.errors = error.response.data;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.create-application-page {
  .heading {
    font-size: 22px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      padding: 30px;
    }
    h2 {
      margin: 0px;
      @media (max-width: 991px) {
        font-size: 22px;
      }
      @media (max-width: 576px) {
        font-size: 18px;
      }
    }
    .numbers {
      display: flex;
      position: relative;
      &::before {
        content: "";
        width: 50%;
        left: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 1px dashed #dddddd;
      }
      &::after {
        content: "";
        width: 50%;
        right: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 1px dashed #dddddd;
      }
      .number {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f5f7;
        margin-right: 60px;
        z-index: 1;
        border: 2px solid #618cfa;
        color: #618cfa;
        font-size: 22px;
        @media (max-width: 991px) {
          margin-right: 30px;
          font-size: 20px;
        }
        @media (max-width: 576px) {
          margin-right: 10px;
          width: 30px;
          height: 30px;
          font-size: 14px;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
    .numbers {
      &.first-step {
        .number {
          &:nth-child(2) {
            border: 2px solid #dddddd;
            color: #dddddd;
          }
          &:nth-child(3) {
            border: 2px solid #dddddd;
            color: #dddddd;
          }
        }
      }
      &.second-step {
        &::before {
          border-color: #618cfa;
        }
        .number {
          &:nth-child(1) {
            border: solid 2px #618cfa;
            background-color: #618cfa;
            color: #ffffff;
          }
          &:nth-child(3) {
            border: 2px solid #dddddd;
            color: #dddddd;
          }
        }
      }
      &.third-step {
        &::before {
          border-color: #618cfa;
        }
        &::after {
          border-color: #618cfa;
        }
        .number {
          &:nth-child(1) {
            border: solid 2px #618cfa;
            background-color: #618cfa;
            color: #ffffff;
          }
          &:nth-child(2) {
            border: solid 2px #618cfa;
            background-color: #618cfa;
            color: #ffffff;
          }
        }
      }
    }
  }
  .content {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 70px 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    @media (max-width: 767px) {
      border-radius: 0px;
      padding: 30px;
    }
    .steps {
      .first-step {
        .form {
          max-width: 800px;
          form {
            hr {
              margin: 60px 0px;
              transform: translateX(-50%);
              width: 1000%;
              border: none;
              height: 1px;
              background-color: rgba(97, 140, 250, 0.3);
              color: rgba(97, 140, 250, 0.3);
            }
            .form-group {
              margin-bottom: 80px;
            }
            .title {
              max-width: 400px;
              margin-bottom: 60px;
              h2 {
                margin: 0px;
                font-size: 18px;
                line-height: 1.22;
              }
            }

            .text {
              margin-bottom: 30px;
              max-width: 400px;
              .title {
                h2 {
                  margin: 0px;
                  margin-bottom: 10px;
                  font-size: 18px;
                  line-height: 1.22;
                }
              }
              .description {
                font-size: 15px;
                line-height: 20px;
                color: #6e6e6e;
                line-height: 1.7;
              }
            }
            .input {
              margin-bottom: 30px;
              .row {
                @media (max-width: 992px) {
                  flex-direction: column;
                  align-items: flex-start;
                }
              }
              label {
                font-size: 16px;
              }
              input {
                display: block;
                width: 100%;
                height: 44px;
                border-radius: 5px;
                border: solid 1px #dddddd;
                background-color: #ffffff;
                padding: 10px;
                font-size: 16px;
                outline: none;
                font-weight: 700;
                @media (max-width: 992px) {
                  margin-left: 0%;
                  margin-top: 10px;
                }

                &::placeholder {
                  font-weight: 400;
                  color: #dddddd;
                }
              }
              .is-valid {
                border-color: #ff0000 !important;
              }
              .is-valid-text {
                font-size: 14px;
                color: red;
                margin-top: 5px;
                position: absolute;
              }
            }
            .select {
              margin-bottom: 30px;
              .row {
                @media (max-width: 992px) {
                  flex-direction: column;
                  align-items: flex-start;
                }
              }
              label {
                font-size: 16px;
              }
            }
            .textarea {
              margin-bottom: 30px;
              .row {
                @media (max-width: 992px) {
                  flex-direction: column;
                  align-items: flex-start;
                }
              }
              label {
                padding-top: 20px;
                font-size: 16px;
              }
              @media (max-width: 992px) {
                margin-left: 0%;
                margin-top: 10px;
              }
              textarea {
                display: block;
                width: 100%;
                height: 160px;
                border-radius: 5px;
                border: solid 1px #dddddd;
                background-color: #ffffff;
                padding: 10px;
                font-size: 16px;
                outline: none;
                font-weight: 700;
                @media (max-width: 992px) {
                  margin-left: 0%;
                }
                &::placeholder {
                  font-weight: 400;
                  color: #dddddd;
                }
              }
              .is-valid {
                border-color: #ff0000 !important;
              }
              .is-valid-text {
                font-size: 14px;
                color: red;
                margin-top: 5px;
                position: absolute;
              }
            }
          }
        }
      }
      .second-step {
        .form {
          form {
            .title {
              h2 {
                margin: 0px;
                margin-bottom: 30px;
                font-size: 18px;
                line-height: 1.22;
                color: #242424;
              }
            }
            .founders {
              margin-bottom: 40px;
              .title {
                h3 {
                  margin: 0px;
                  margin-bottom: 30px;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 1.22;
                  color: #242424;
                }
              }
              .author {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 10px;
                .avatar {
                  position: relative;
                  display: inline-block;
                  text-align: center;
                  margin-right: 10px;
                  cursor: pointer;
                  img {
                    border: 4px solid #618cfa;
                    width: 60px;
                    box-shadow: 0 2px 22px 0 rgba(32, 49, 94, 0.3);
                    border-radius: 50%;
                  }
                }
                .text {
                  .name {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.22;
                    color: #618cfa;
                    text-transform: capitalize;
                  }
                }
              }
              .add-an-founder {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.5;
                color: #618cfa;
                cursor: pointer;
              }
            }

            .team {
              margin-bottom: 40px;
              .text {
                margin-bottom: 10px;

                .title {
                  h3 {
                    margin: 0px;
                    font-size: 16px;
                    line-height: 1.22;
                    font-weight: 400;
                    color: #242424;
                  }
                }
                .description {
                  font-size: 14px;
                  line-height: 1.7;
                  color: #6e6e6e;
                }
              }

              .list {
                margin-bottom: 10px;

                .member {
                  margin-bottom: 10px;
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  font-size: 0px;
                  span {
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 5px;
                  }
                }
              }

              .add-an-employee {
                .link {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #618cfa;
                  cursor: pointer;
                }
                .form {
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  form {
                    max-width: 480px;
                    .input {
                      padding-bottom: 30px;
                      position: relative;
                      width: 100%;
                      label {
                        font-size: 16px;
                      }
                      input {
                        display: block;
                        width: 100%;
                        height: 44px;
                        border-radius: 5px;
                        border: solid 1px #dddddd;
                        background-color: #ffffff;
                        padding: 10px;
                        font-size: 16px;
                        outline: none;
                        font-weight: 700;
                        @media (max-width: 992px) {
                          margin-left: 0%;
                          margin-top: 10px;
                        }

                        &::placeholder {
                          font-weight: 400;
                          color: #dddddd;
                        }
                      }
                      .is-valid {
                        border-color: #ff0000 !important;
                      }
                      .is-valid-text {
                        font-size: 14px;
                        color: red;
                        margin-top: 5px;
                        position: absolute;
                      }
                    }
                    .nav {
                      input {
                        text-transform: uppercase;
                        background: none;
                        border: none;
                        font-family: $GTWalsheimPro;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.22;
                        letter-spacing: 0.1px;
                        text-align: center;
                        color: #618cfa;
                        outline: none;
                        padding: 0px;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
            .previous-investors {
              margin-bottom: 40px;
              .text {
                margin-bottom: 10px;

                .title {
                  h3 {
                    margin: 0px;
                    font-size: 16px;
                    line-height: 1.22;
                    font-weight: 400;
                    color: #242424;
                  }
                }
                .description {
                  font-size: 14px;
                  line-height: 1.7;
                  color: #6e6e6e;
                }
              }

              .list {
                margin-bottom: 10px;

                .member {
                  margin-bottom: 10px;
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  font-size: 0px;
                  span {
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 5px;
                  }
                }
              }
              .add-an-investors {
                .link {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #618cfa;
                  cursor: pointer;
                }
                .form {
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  form {
                    max-width: 480px;
                    .input {
                      padding-bottom: 30px;
                      position: relative;
                      width: 100%;
                      label {
                        font-size: 16px;
                      }
                      input {
                        display: block;
                        width: 100%;
                        height: 44px;
                        border-radius: 5px;
                        border: solid 1px #dddddd;
                        background-color: #ffffff;
                        padding: 10px;
                        font-size: 16px;
                        outline: none;
                        font-weight: 700;
                        @media (max-width: 992px) {
                          margin-left: 0%;
                          margin-top: 10px;
                        }

                        &::placeholder {
                          font-weight: 400;
                          color: #dddddd;
                        }
                      }
                      .is-valid {
                        border-color: #ff0000 !important;
                      }
                      .is-valid-text {
                        font-size: 14px;
                        color: red;
                        margin-top: 5px;
                        position: absolute;
                      }
                    }
                    .nav {
                      input {
                        text-transform: uppercase;
                        background: none;
                        border: none;
                        font-family: $GTWalsheimPro;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.22;
                        letter-spacing: 0.1px;
                        text-align: center;
                        color: #618cfa;
                        outline: none;
                        padding: 0px;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }

            .incubator {
              margin-bottom: 40px;
              .text {
                margin-bottom: 10px;

                .title {
                  h3 {
                    margin: 0px;
                    font-size: 16px;
                    line-height: 1.22;
                    font-weight: 400;
                    color: #242424;
                  }
                }
                .description {
                  font-size: 14px;
                  line-height: 1.7;
                  color: #6e6e6e;
                }
              }

              .list {
                margin-bottom: 10px;

                .member {
                  margin-bottom: 10px;
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  font-size: 0px;
                  span {
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 5px;
                  }
                }
              }
              .add-an-incubator {
                .link {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #618cfa;
                  cursor: pointer;
                }
                .form {
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  form {
                    max-width: 480px;
                    .input {
                      padding-bottom: 30px;
                      position: relative;
                      width: 100%;
                      label {
                        font-size: 16px;
                      }
                      input {
                        display: block;
                        width: 100%;
                        height: 44px;
                        border-radius: 5px;
                        border: solid 1px #dddddd;
                        background-color: #ffffff;
                        padding: 10px;
                        font-size: 16px;
                        outline: none;
                        font-weight: 700;
                        @media (max-width: 992px) {
                          margin-left: 0%;
                          margin-top: 10px;
                        }

                        &::placeholder {
                          font-weight: 400;
                          color: #dddddd;
                        }
                      }
                      .is-valid {
                        border-color: #ff0000 !important;
                      }
                      .is-valid-text {
                        font-size: 14px;
                        color: red;
                        margin-top: 5px;
                        position: absolute;
                      }
                    }
                    .nav {
                      input {
                        text-transform: uppercase;
                        background: none;
                        border: none;
                        font-family: $GTWalsheimPro;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.22;
                        letter-spacing: 0.1px;
                        text-align: center;
                        color: #618cfa;
                        outline: none;
                        padding: 0px;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
            .advisors {
              margin-bottom: 40px;
              .text {
                margin-bottom: 10px;

                .title {
                  h3 {
                    margin: 0px;
                    font-size: 16px;
                    line-height: 1.22;
                    font-weight: 400;
                    color: #242424;
                  }
                }
                .description {
                  font-size: 14px;
                  line-height: 1.7;
                  color: #6e6e6e;
                }
              }

              .list {
                margin-bottom: 10px;

                .member {
                  margin-bottom: 10px;
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  font-size: 0px;
                  span {
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 5px;
                  }
                }
              }
              .add-an-advisors {
                .link {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #618cfa;
                  cursor: pointer;
                }
                .form {
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  form {
                    max-width: 480px;
                    .input {
                      padding-bottom: 30px;
                      position: relative;
                      width: 100%;
                      label {
                        font-size: 16px;
                      }
                      input {
                        display: block;
                        width: 100%;
                        height: 44px;
                        border-radius: 5px;
                        border: solid 1px #dddddd;
                        background-color: #ffffff;
                        padding: 10px;
                        font-size: 16px;
                        outline: none;
                        font-weight: 700;
                        @media (max-width: 992px) {
                          margin-left: 0%;
                          margin-top: 10px;
                        }

                        &::placeholder {
                          font-weight: 400;
                          color: #dddddd;
                        }
                      }
                      .is-valid {
                        border-color: #ff0000 !important;
                      }
                      .is-valid-text {
                        font-size: 14px;
                        color: red;
                        margin-top: 5px;
                        position: absolute;
                      }
                    }
                    .nav {
                      input {
                        text-transform: uppercase;
                        background: none;
                        border: none;
                        font-family: $GTWalsheimPro;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.22;
                        letter-spacing: 0.1px;
                        text-align: center;
                        color: #618cfa;
                        outline: none;
                        padding: 0px;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
            .partners {
              margin-bottom: 40px;
              .text {
                margin-bottom: 10px;

                .title {
                  h3 {
                    margin: 0px;
                    font-size: 16px;
                    line-height: 1.22;
                    font-weight: 400;
                    color: #242424;
                  }
                }
                .description {
                  font-size: 14px;
                  line-height: 1.7;
                  color: #6e6e6e;
                }
              }

              .list {
                margin-bottom: 10px;

                .member {
                  margin-bottom: 10px;
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  font-size: 0px;
                  span {
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 5px;
                  }
                }
              }
              .add-an-partners {
                .link {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #618cfa;
                  cursor: pointer;
                }
                .form {
                  padding: 15px;
                  border-radius: 5px;
                  background-color: #f2f5f7;
                  form {
                    max-width: 480px;
                    .input {
                      padding-bottom: 30px;
                      position: relative;
                      width: 100%;
                      label {
                        font-size: 16px;
                      }
                      input {
                        display: block;
                        width: 100%;
                        height: 44px;
                        border-radius: 5px;
                        border: solid 1px #dddddd;
                        background-color: #ffffff;
                        padding: 10px;
                        font-size: 16px;
                        outline: none;
                        font-weight: 700;
                        @media (max-width: 992px) {
                          margin-left: 0%;
                          margin-top: 10px;
                        }

                        &::placeholder {
                          font-weight: 400;
                          color: #dddddd;
                        }
                      }
                      .is-valid {
                        border-color: #ff0000 !important;
                      }
                      .is-valid-text {
                        font-size: 14px;
                        color: red;
                        margin-top: 5px;
                        position: absolute;
                      }
                    }
                    .nav {
                      input {
                        text-transform: uppercase;
                        background: none;
                        border: none;
                        font-family: $GTWalsheimPro;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.22;
                        letter-spacing: 0.1px;
                        text-align: center;
                        color: #618cfa;
                        outline: none;
                        padding: 0px;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .third-step {
        hr {
          margin: 60px 0px;
          transform: translateX(-50%);
          width: 1000%;
          border: none;
          height: 1px;
          background-color: rgba(97, 140, 250, 0.3);
          color: rgba(97, 140, 250, 0.3);
        }
        .text {
          margin-bottom: 20px;
          max-width: 400px;
          .title {
            h2 {
              margin: 0px;
              margin-bottom: 10px;
              font-size: 16px;
              line-height: 1.22;
              color: #242424;
            }
          }
          .description {
            font-size: 14px;
            line-height: 1.7;
            color: #6e6e6e;
            margin-bottom: 10px;
          }
        }

        .checkbox {
          margin-bottom: 30px;
          display: flex;
          align-items: center;
          label {
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            padding-left: 10px;
            user-select: none;
          }
          input[type="checkbox"] {
            width: 28px;
            height: 28px;
            border-radius: 5px;
            border: solid 1px #dddddd;
            background-color: #ffffff;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            &:checked:before {
              font-family: "Font Awesome 5 Pro";
              font-weight: bold;
              color: rgba(0, 0, 0, 0.7);
              content: "\f00c";
              font-size: 15px;
              width: 26px;
              height: 26px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          a {
            text-decoration: none;
            font-weight: 700;
            color: #618cfa;
          }

          .is-valid {
            border-color: #ff0000 !important;
          }
          .is-valid-text {
            font-size: 14px;
            color: red;
            margin-top: 5px;
            position: absolute;
          }
        }
        .drop-file {
          padding-bottom: 30px;
          position: relative;
          width: 100%;
          label {
            font-size: 16px;
            font-weight: 700;
          }
          .file-upload {
            display: flex;
            align-items: center;
            height: 76px;
            border-radius: 5px;
            border: solid 1px #dddddd;
            background-color: #f2f5f7;
            padding: 10px 30px;

            outline: none;
            width: 100%;
            cursor: pointer;
            margin-top: 10px;

            @media (max-width: 992px) {
              margin-left: 0%;
              margin-top: 10px;
            }
            &::placeholder {
              font-weight: 400;
              color: #dddddd;
            }
            .file-label {
              span {
                font-size: 16px;
              }
              i {
                font-size: 16px;
                border-radius: 50%;
                box-shadow: 0 5px 10px 0 #c1c1c1;
                padding: 10px;
                background-color: #ffffff;
                margin-right: 10px;
                color: #000000;
              }
            }

            .file-name {
              padding: 10px 20px;
              width: 100%;
              height: 100%;
              border-radius: 10px;
              box-shadow: 0 2px 4px 0 #00000019;
              background-color: #ffffff;
              display: flex;
              align-items: center;
              span {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.5;
                color: #242424;
              }
              .icon {
                i {
                  font-size: 24px;
                  color: #618cfa;
                  margin-right: 10px;
                }
              }
              .delete {
                margin-left: auto;
                i {
                  font-size: 16px;
                  border-radius: 50%;
                  box-shadow: 0 5px 10px 0 #c1c1c1;
                  padding: 10px;
                  background-color: #618cfa;
                  margin-left: 10px;
                  color: #ffffff;
                }
              }
            }
          }
          input {
            display: none;
            width: 100%;
            height: 44px;
            border-radius: 5px;
            border: solid 1px #dddddd;
            background-color: #ffffff;
            padding: 10px;
            font-size: 16px;
            outline: none;
            font-weight: 700;
            margin-left: 300px;
            &::placeholder {
              font-weight: 400;
              color: #dddddd;
            }

            @media (max-width: 992px) {
              margin-left: 0%;
              margin-top: 10px;
            }
          }
        }
        .input {
          margin-bottom: 10px;
          label {
            font-size: 16px;
          }
          input {
            display: block;
            width: 100%;
            height: 44px;
            border-radius: 5px;
            border: solid 1px #dddddd;
            background-color: #ffffff;
            padding: 10px;
            font-size: 16px;
            outline: none;
            font-weight: 700;
            @media (max-width: 992px) {
              margin-left: 0%;
              margin-top: 10px;
            }

            &::placeholder {
              font-weight: 400;
              color: #dddddd;
            }
          }
          .is-valid {
            border-color: #ff0000 !important;
          }
          .is-valid-text {
            font-size: 14px;
            color: red;
            margin-top: 5px;
            position: absolute;
          }
        }

        .complite-changes {
          display: inline-flex;
          align-items: center;
          padding: 50px 30px;
          border-radius: 20px;
          background-color: #f5b325;
          height: 20px;
          font-size: 22px;
          line-height: 1.22;
          color: #ffffff;

          i {
            font-size: 40px;
            margin-left: 30px;
          }
        }
      }
    }
  }
  .navigation {
    text-align: right;
    padding: 30px 0px;
    font-size: 0px;
    @media (max-width: 767px) {
      text-align: center;
    }
    .prev {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: $GTWalsheimPro;
      width: 236px;
      height: 48px;
      border-radius: 5px;
      background-color: transparent;
      color: #618cfa;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      border: solid 1px #618cfa;
      cursor: pointer;
      margin-right: 20px;

      @media (max-width: 767px) {
        width: 100%;
        max-width: 230px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .next {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: $GTWalsheimPro;
      width: 236px;
      height: 48px;
      border-radius: 5px;
      background-color: #618cfa;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      border: none;
      cursor: pointer;

      @media (max-width: 767px) {
        width: 100%;
        max-width: 230px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .submit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: $GTWalsheimPro;
      width: 236px;
      height: 48px;
      border-radius: 5px;
      background-color: #618cfa;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      border: none;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
      }

      @media (max-width: 767px) {
        width: 100%;
        max-width: 230px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
      }
    }
  }
}
</style>
